<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll
    you have to update the registry information in this file!!!!
    either by run Collect.bat and inserting everything between <Component> and </Component> or 
    by simply replacing the AssemblyVersion with the correct value (multiple times)
         
  
  1. Generate with Wix Tool heat the registry entry for AddInSimple.dll (in bin\release folder of AddInSimple
     "c:\Program Files (x86)\WiX Toolset v3.11\bin\heat" file AddInSimple.dll -ag -template fragment -out AddInSimple.wxs
     see: Collection\Collect.bat
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - HoToolsGui.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddInSimple.dll" Source="$(var.AddInSimple.TargetPath)" />
  4. A component for every file
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">
      <Component Id="LicenceRTF" Guid="{44269BDF-AD31-47EB-88F5-34254D5844F7}">
        <File Id="LicenseFile" Name="license.rtf" Source="license.rtf"  KeyPath="yes" />
      </Component>
     <Component Id="RegisterEA" Guid="{171BFF66-F729-4DB6-96AD-761EA13E4E2E}">
        <RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\AddInSimple">
          <!--  Namespace.ClassName of the dll to register as COM Object -->
          <RegistryValue Type="string" Value="AddInSimple.AddInSimpleClass" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="hoLinqToSql" Guid="{615EA76B-EE2B-44FD-AB59-770355DC9AD9}">
        <File Id="hoLinqToSql.dll" KeyPath="yes" Name="hoLinqToSql.dll" Source="$(var.hoLinqToSql.TargetPath)" />
      </Component>
      
      <!-- LINQPad: Receive EA context information via Parameter  -->
      <Component Id="TestCallLinqWithParameter.linq" Guid="{A1296864-9AD1-4E56-89CA-18C8CAC51C57}">
        <File Id="TestCallLinqWithParameter.linq" KeyPath="yes" Name="TestCallLinqWithParameter.linq" Source="..\AddInSimple\TestCallLinqWithParameter.linq" />
      </Component>
      
      <!-- LINQPad query example     -->
      <Component Id="EaBasicQuery.linq" Guid="{E84836DC-52EF-47FB-8FEA-41DFDEB145DD}">
        <File Id="EaBasicQuery.linq" KeyPath="yes" Name="EaBasicQuery.linq" Source="..\AddInSimple\EaBasicQuery.linq" />
      </Component>
      
     
      <!--
      Replace: Source="SourceDir\release\AddInSimple.dll" /> by
      Name="AddInSimple.dll" Source="$(var.AddInSimple.TargetPath)" />
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      
      Run first: Collect.bat to reap the Component registration information with WIX
      Insert the content of the reaped *.wxs file between 
      <Component>
      ..
      </Component>
      -->
      <Component Id="cmp08B8C5EFB4E3067985AB6C7DE53C14BD" Guid="*">
        <Class Id="{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}" Context="InprocServer32" Description="AddInSimple.AddInSimpleClass" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="AddInSimple.AddInSimpleClass" Description="AddInSimple.AddInSimpleClass" />
        </Class>
        <Class Id="{B3058A39-84E3-31ED-BEEB-7B845D5D3195}" Context="InprocServer32" Description="AddInSimple.InternalHelpers" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="AddInSimple.InternalHelpers" Description="AddInSimple.InternalHelpers" />
        </Class>
        <Class Id="{C988E1AE-9987-3759-B872-B924BB4767D5}" Context="InprocServer32" Description="AddInSimple.ConnectionStringSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="AddInSimple.ConnectionStringSettings" Description="AddInSimple.ConnectionStringSettings" />
        </Class>
        <File Id="filB7ACB0AA302E14C4B5BC103FF525B9EE" Name="AddInSimple.dll" Source="$(var.AddInSimple.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.2.0.0" Name="Class" Value="AddInSimple.AddInSimpleClass" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="Class" Value="AddInSimple.AddInSimpleClass" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.2.0.0" Name="Class" Value="AddInSimple.InternalHelpers" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="Class" Value="AddInSimple.InternalHelpers" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.2.0.0" Name="Class" Value="AddInSimple.ConnectionStringSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="Class" Value="AddInSimple.ConnectionStringSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="Class" Value="ADODB.ConnectModeEnum" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="Class" Value="ADODB.EventStatusEnum" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.2.0.0" Name="Class" Value="AddInSimple.EaType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.2.0.0" Name="Assembly" Value="AddInSimple, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.2.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.2.0.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
      </Component>
      <!-- LINQPad query example     -->
      <Component Id="LinqPadConnections.linq" Guid="{B21562FD-F3CE-4D49-945D-93810108F4EE}">
        <File Id="LinqPadConnections.linq" KeyPath="yes" Name="LinqPadConnections.linq" Source="..\hoToolsRoot\LinqPadConnections.linq" />
      </Component>


      <!-- Nuget Packages
          Nuget Packages are all in the otherwise empty project 'NugetCollectorProject'
          Don't forget to include all nuget packages in this project
          Add to load the dll:
          Source="$(var.NugetCollectorProject.TargetDir)\NugetDll.dll" 
          -->
      <Component Id="Newtonsoft.Json" Guid="48483AD6-80C5-41C6-87DB-CE36684E4ACD">
        <File Id="Newtonsoft.Json" KeyPath="yes" Name="Newtonsoft.Json.dll"  Source="$(var.NugetCollectorProject.TargetDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="KBCsv" Guid="30620E70-7C9D-45E4-BEC8-6A3B8D5107EA">
        <File Id="KBCsv" KeyPath="yes" Name="KBCsv.dll"  Source="$(var.NugetCollectorProject.TargetDir)\KBCsv.dll" />
      </Component>
      <Component Id="KBCsv.Extensions.Data" Guid="97618C61-D0E0-41B0-8A2D-F82ECC5AF35E">
        <File Id="KBCsv.Extensions.Data" KeyPath="yes" Name="KBCsv.Extensions.Data.dll"  Source="$(var.NugetCollectorProject.TargetDir)\KBCsv.Extensions.Data.dll" />
      </Component>
      <!--   Nuget: Get-Project –All | Add-BindingRedirect    -->
      <!-- DocumentFormat.OpenXml.2.9.1 / DocumentFormat.OpenXml.2.9.1 -->
      <Component Id="DocumentFormat.OpenXml" Guid="F6FBBA69-A929-413B-A13B-BBDD7851D1F7">
        <File Id="DocumentFormat.OpenXml" KeyPath="yes" Name="DocumentFormat.OpenXml.dll"  Source="$(var.NugetCollectorProject.TargetDir)\DocumentFormat.OpenXml.dll" />
      </Component>

      <!-- ClosedXml needs: DocumentFormat.OpenXml 2.7.2-->
      <Component Id="ClosedXml" Guid="969900BC-0842-4E36-B550-35AA37682D19">
        <File Id="ClosedXml" KeyPath="yes" Name="ClosedXml.dll"  Source="$(var.NugetCollectorProject.TargetDir)\ClosedXML.dll" />
      </Component>

      <!-- linq2db                   -->
      <!-- Supported databases Access, MySQL, SqlServer, Oracle, Sybase, Postgres (tested: Access, MySQL, SqlServer) -->
      <Component Id="linq2db.dll" Guid="{7F7E0442-6625-451E-841E-E4D304EFBCBA}">
        <File Id="linq2db.dll" KeyPath="yes" Name="linq2db.dll" Source="$(var.NugetCollectorProject.TargetDir)\linq2db.dll" />
      </Component>
      <!-- Separate install MySql.Data.dll-->
      <Component Id="MySql.Data.dll" Guid="{1D9AF997-5EFF-4F2A-9410-72EAA69473CC}">
        <File Id="MySql.Data.dll" KeyPath="yes" Name="MySql.Data.dll" Source="$(var.NugetCollectorProject.TargetDir)\MySql.Data.dll" />
      </Component>
      <Component Id="Microsoft.SqlServer.Types.dll" Guid="{EABD70B2-374E-4959-AB91-38863D06ABFA}">
        <File Id="Microsoft.SqlServer.Types.dll" KeyPath="yes" Name="Microsoft.SqlServer.Types.dll" Source="$(var.NugetCollectorProject.TargetDir)\Microsoft.SqlServer.Types.dll" />
      </Component>
      <Component Id="Oracle.ManagedDataAccess.dll" Guid="{1BE3E59F-3CA1-4725-8FB6-086E0DAD8D03}">
        <File Id="Oracle.ManagedDataAccess.dll" KeyPath="yes" Name="Oracle.ManagedDataAccess.dll" Source="$(var.NugetCollectorProject.TargetDir)\Oracle.ManagedDataAccess.dll" />
      </Component>
      <Component Id="Npgsql.dll" Guid="{B63E7AC0-5F42-49A3-8ABD-4B84B8C9160D}">
        <File Id="Npgsql.dll" KeyPath="yes" Name="Npgsql.dll" Source="$(var.NugetCollectorProject.TargetDir)\Npgsql.dll" />
      </Component>
      <Component Id="AdoNetCore.AseClient.dll" Guid="{A3853976-5D6F-430E-AB0D-D87648B009D3}">
        <File Id="AdoNetCore.AseClient.dll" KeyPath="yes" Name="AdoNetCore.AseClient.dll" Source="$(var.NugetCollectorProject.TargetDir)\AdoNetCore.AseClient.dll" />
      </Component>
      
      <Component Id="SQLite.Interop.dll" Guid="{3DFC900E-8BD6-4B50-ACFC-7DF08040ECC2}">
        <File Id="SQLite.Interop.dll" KeyPath="yes" Name="SQLite.Interop.dll" Source="$(var.NugetCollectorProject.TargetDir)\x86\SQLite.Interop.dll" />
      </Component>
      <Component Id="System.Data.SQLite.dll" Guid="{B161BBE0-0A9C-4570-AE7A-91E10F380ACD}">
        <File Id="System.Data.SQLite.dll" KeyPath="yes" Name="System.Data.SQLite.dll" Source="$(var.NugetCollectorProject.TargetDir)\System.Data.SQLite.dll" />
      </Component>


      <!-- HtmlAgilityPack -->
      <Component Id="HtmlAgilityPack.dll" Guid="{3783B4A7-6591-4783-AFD5-FB7F4E70A2D5}">
        <File Id="HtmlAgilityPack.dll" KeyPath="yes" Name="HtmlAgilityPack.dll" Source="$(var.NugetCollectorProject.TargetDir)\HtmlAgilityPack.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>