<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="hoSqlGui.dll" Guid="14812CE3-0090-4E25-A401-F24B6E4EC891">
                <Class Id="{3F23B705-62F1-43D7-9F6F-085105FDF752}" Context="InprocServer32" Description="hoTools.hoSqlGui.HoSqlGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.sqlGui" Description="hoTools.hoSqlGui.HoSqlGui" />
                </Class>
                <Class Id="{E9D01241-180F-3CEE-9950-B746AA9B4AD8}" Context="InprocServer32" Description="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" Description="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" />
                </Class>
                <File Id="hoSqlGui.dll" KeyPath="yes" Source="$(var.hoSqlGui.TargetDir)\hoSqlGui.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\4.2.7.0" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\4.2.7.0" Name="Assembly" Value="hoSqlGui, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\4.2.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\4.2.7.0" Name="CodeBase" Value="file:///[#hoSqlGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="Assembly" Value="hoSqlGui, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="CodeBase" Value="file:///[#hoSqlGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32\4.2.7.0" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32\4.2.7.0" Name="Assembly" Value="hoSqlGui, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32\4.2.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32\4.2.7.0" Name="CodeBase" Value="file:///[#hoSqlGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32" Name="Assembly" Value="hoSqlGui, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E9D01241-180F-3CEE-9950-B746AA9B4AD8}\InprocServer32" Name="CodeBase" Value="file:///[#hoSqlGui.dll]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COM_DllSqlGui">
            <ComponentRef Id="hoSqlGui.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>