<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="hoToolsGui.dll" Guid="9BFCBDD8-8163-4FE3-9B31-DCA1BE755894">
                <Class Id="{10DF5075-C0B8-3ECE-959B-77D32143E4B0}" Context="InprocServer32" Description="hoTools.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.Settings.AddinSettings" Description="hoTools.Settings.AddinSettings" />
                </Class>
                <Class Id="{7BC1BD25-F828-3586-9897-FDDFA0BB654E}" Context="InprocServer32" Description="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Description="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" />
                </Class>
                <Class Id="{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}" Context="InprocServer32" Description="hoTools.hoToolsGui.HoToolsGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui" Description="hoTools.hoToolsGui.HoToolsGui" />
                </Class>
                <Class Id="{D59FE7E2-2221-309C-B3A5-07C371C6C56A}" Context="InprocServer32" Description="hoTools.hoToolsGui.AddinGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui.AddinGui" Description="hoTools.hoToolsGui.AddinGui" />
                </Class>
                <File Id="hoToolsGui.dll" KeyPath="yes" Source="$(var.hoToolsGui.TargetDir)\hoToolsGui.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32\4.2.5.0" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10DF5075-C0B8-3ECE-959B-77D32143E4B0}\InprocServer32" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32\4.2.5.0" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7BC1BD25-F828-3586-9897-FDDFA0BB654E}\InprocServer32" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\4.2.5.0" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32\4.2.5.0" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D59FE7E2-2221-309C-B3A5-07C371C6C56A}\InprocServer32" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2D7D9EAA-D320-340C-A6B4-D268F641C043}\4.2.5.0" Name="Class" Value="hoTools.Settings.AddinSettings+AutoLoadMdg" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2D7D9EAA-D320-340C-A6B4-D268F641C043}\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2D7D9EAA-D320-340C-A6B4-D268F641C043}\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2D7D9EAA-D320-340C-A6B4-D268F641C043}\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3E6C87F6-FECF-339B-B8A8-E8A2861618B8}\4.2.5.0" Name="Class" Value="hoTools.Settings.AddinSettings+ShowInWindow" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3E6C87F6-FECF-339B-B8A8-E8A2861618B8}\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3E6C87F6-FECF-339B-B8A8-E8A2861618B8}\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{3E6C87F6-FECF-339B-B8A8-E8A2861618B8}\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA93ED3C-2D35-38E4-8BF7-7128D40A9230}\4.2.5.0" Name="Class" Value="hoTools.Settings.AddinSettings+CustomerCfg" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA93ED3C-2D35-38E4-8BF7-7128D40A9230}\4.2.5.0" Name="Assembly" Value="hoToolsGui, Version=4.2.5.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA93ED3C-2D35-38E4-8BF7-7128D40A9230}\4.2.5.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA93ED3C-2D35-38E4-8BF7-7128D40A9230}\4.2.5.0" Name="CodeBase" Value="file:///[#hoToolsGui.dll]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COM_DllGui">
            <ComponentRef Id="hoToolsGui.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>