<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp5F935FA914105189E55B8F7E9C2A3543" Guid="*">
                <Class Id="{07081FF7-5B36-4487-994B-B69DA4D4C530}" Context="InprocServer32" Description="hoTools.Extensions.ExtensionGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.ExtensionGUI" Description="hoTools.Extensions.ExtensionGui" />
                </Class>
                <File Id="fil12F7128C983515498BE670F1B7E0298F" KeyPath="yes" Source="SourceDir\release\hoExtensionGui.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Extensions.ExtensionGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoExtensionGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#fil12F7128C983515498BE670F1B7E0298F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="Class" Value="hoTools.Extensions.ExtensionGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="Assembly" Value="hoExtensionGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="CodeBase" Value="file:///[#fil12F7128C983515498BE670F1B7E0298F]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>