<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp28B2327A2A980C943C7C1F3FC0E50C7E" Guid="*">
                <Class Id="{0894113F-FF9A-3847-8542-1C70CC6B147E}" Context="InprocServer32" Description="hoTools.Find.RegularExpression" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.Find.RegularExpression" Description="hoTools.Find.RegularExpression" />
                </Class>
                <Class Id="{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.FindAndReplaceGUI" Description="hoTools.Find.FindAndReplaceGUI" />
                </Class>
                <Class Id="{58D39547-6597-3F45-8DF3-15AC76CF4CBE}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" />
                </Class>
                <File Id="filA035CBAA0CDCAB5363C54609C4E4C661" KeyPath="yes" Source="SourceDir\release\hoFindAndReplaceGui.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Find.RegularExpression" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32" Name="Class" Value="hoTools.Find.RegularExpression" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0894113F-FF9A-3847-8542-1C70CC6B147E}\InprocServer32" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58D39547-6597-3F45-8DF3-15AC76CF4CBE}\InprocServer32" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{438C792B-4BD9-34BF-B7B9-BB0178131DBF}\3.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceItem+FieldType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{438C792B-4BD9-34BF-B7B9-BB0178131DBF}\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{438C792B-4BD9-34BF-B7B9-BB0178131DBF}\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{438C792B-4BD9-34BF-B7B9-BB0178131DBF}\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>