<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp7418A9F88625553929E4E28D82354AE8" Guid="*">
                <Class Id="{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}" Context="InprocServer32" Description="hoTools.hoToolsGui.AddinControlGui+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui.AddinControlGui+EnterTextBox" Description="hoTools.hoToolsGui.AddinControlGui+EnterTextBox" />
                </Class>
                <Class Id="{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}" Context="InprocServer32" Description="hoTools.hoToolsGui.AddinControlGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui" Description="hoTools.hoToolsGui.AddinControlGui" />
                </Class>
                <Class Id="{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}" Context="InprocServer32" Description="hoTools.hoToolsGui.AddinGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui.AddinGui" Description="hoTools.hoToolsGui.AddinGui" />
                </Class>
                <Class Id="{C3D7E345-BBCC-3064-B7A3-04FE6392A728}" Context="InprocServer32" Description="hoTools.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.Settings.AddinSettings" Description="hoTools.Settings.AddinSettings" />
                </Class>
                <File Id="fil6A0C316308E925A60172896738742F6F" KeyPath="yes" Source="SourceDir\release\hoToolsGui.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32\3.0.0.1" Name="Class" Value="hoTools.hoToolsGui.AddinControlGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.AddinControlGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7DDC2D33-3F5A-382A-8F6E-2DAB868F8E58}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.0.0.1" Name="Class" Value="hoTools.hoToolsGui.AddinControlGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.AddinControlGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32\3.0.0.1" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{907288D7-66E5-3B32-A87D-ACADFA8B6CEF}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32\3.0.0.1" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3D7E345-BBCC-3064-B7A3-04FE6392A728}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6C06DA7F-B1DA-3CB1-B471-C31EFDED19BE}\3.0.0.1" Name="Class" Value="hoTools.Settings.AddinSettings+ShowInWindow" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6C06DA7F-B1DA-3CB1-B471-C31EFDED19BE}\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6C06DA7F-B1DA-3CB1-B471-C31EFDED19BE}\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6C06DA7F-B1DA-3CB1-B471-C31EFDED19BE}\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CAB4006F-4698-3890-A6CE-4AFDE86E0422}\3.0.0.1" Name="Class" Value="hoTools.Settings.AddinSettings+CustomerCfg" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CAB4006F-4698-3890-A6CE-4AFDE86E0422}\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CAB4006F-4698-3890-A6CE-4AFDE86E0422}\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{CAB4006F-4698-3890-A6CE-4AFDE86E0422}\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EF985FB5-31C7-3DDC-A216-78E9003A73B7}\3.0.0.1" Name="Class" Value="hoTools.Settings.AddinSettings+AutoLoadMdg" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EF985FB5-31C7-3DDC-A216-78E9003A73B7}\3.0.0.1" Name="Assembly" Value="hoToolsGui, Version=3.0.0.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EF985FB5-31C7-3DDC-A216-78E9003A73B7}\3.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EF985FB5-31C7-3DDC-A216-78E9003A73B7}\3.0.0.1" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>