<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp7418A9F88625553929E4E28D82354AE8">
                <Class Id="{31275950-F97C-32BA-A67E-A7043AA154D7}" Context="InprocServer32" Description="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Description="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" />
                </Class>
                <Class Id="{5ADBB814-9F67-32C9-820C-5CED32748EDA}" Context="InprocServer32" Description="hoTools.hoToolsGui.AddinGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui.AddinGui" Description="hoTools.hoToolsGui.AddinGui" />
                </Class>
                <Class Id="{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}" Context="InprocServer32" Description="hoTools.hoToolsGui.HoToolsGui" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsGui" Description="hoTools.hoToolsGui.HoToolsGui" />
                </Class>
                <Class Id="{AD3A6B49-9692-3713-A425-F676E352F6B7}" Context="InprocServer32" Description="hoTools.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.Settings.AddinSettings" Description="hoTools.Settings.AddinSettings" />
                </Class>
                <File Id="fil6A0C316308E925A60172896738742F6F" KeyPath="yes" Source="SourceDir\release\hoToolsGui.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32\3.9.0.0" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{31275950-F97C-32BA-A67E-A7043AA154D7}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32\3.9.0.0" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5ADBB814-9F67-32C9-820C-5CED32748EDA}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.9.0.0" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32\3.9.0.0" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AD3A6B49-9692-3713-A425-F676E352F6B7}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{569B2648-3262-3DA3-AE7E-30F45B6C9567}\3.9.0.0" Name="Class" Value="hoTools.Settings.AddinSettings+AutoLoadMdg" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{569B2648-3262-3DA3-AE7E-30F45B6C9567}\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{569B2648-3262-3DA3-AE7E-30F45B6C9567}\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{569B2648-3262-3DA3-AE7E-30F45B6C9567}\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A42BB610-2A6B-32FF-B419-BD13F2EDC088}\3.9.0.0" Name="Class" Value="hoTools.Settings.AddinSettings+CustomerCfg" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A42BB610-2A6B-32FF-B419-BD13F2EDC088}\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A42BB610-2A6B-32FF-B419-BD13F2EDC088}\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A42BB610-2A6B-32FF-B419-BD13F2EDC088}\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A5DA4F9E-2F07-30E9-8E42-EF7C3E7EFFBB}\3.9.0.0" Name="Class" Value="hoTools.Settings.AddinSettings+ShowInWindow" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A5DA4F9E-2F07-30E9-8E42-EF7C3E7EFFBB}\3.9.0.0" Name="Assembly" Value="hoToolsGui, Version=3.9.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A5DA4F9E-2F07-30E9-8E42-EF7C3E7EFFBB}\3.9.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A5DA4F9E-2F07-30E9-8E42-EF7C3E7EFFBB}\3.9.0.0" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>