<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp31940B54CF312110947FB4C57021C05C">
                <Class Id="{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}" Context="InprocServer32" Description="hoTools.About" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.About" Description="hoTools.About" />
                </Class>
                <Class Id="{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}" Context="InprocServer32" Description="hoTools.HoToolsRoot" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.HoToolsRoot" Description="hoTools.HoToolsRoot" />
                </Class>
                <File Id="filCA8A52E7876A339B3756985923353460" KeyPath="yes" Source="SourceDir\release\hoToolsRoot.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32\3.2.12.0" Name="Class" Value="hoTools.About" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32\3.2.12.0" Name="Assembly" Value="hoToolsRoot, Version=3.2.12.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32\3.2.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32\3.2.12.0" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32" Name="Class" Value="hoTools.About" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32" Name="Assembly" Value="hoToolsRoot, Version=3.2.12.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2736CBFC-6A84-3B02-837D-BB78BFE5B00F}\InprocServer32" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32\3.2.12.0" Name="Class" Value="hoTools.HoToolsRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32\3.2.12.0" Name="Assembly" Value="hoToolsRoot, Version=3.2.12.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32\3.2.12.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32\3.2.12.0" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32" Name="Class" Value="hoTools.HoToolsRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32" Name="Assembly" Value="hoToolsRoot, Version=3.2.12.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{A723F1C2-9E5D-3F92-936D-839FDDDBFF2F}\InprocServer32" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>