<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.6.1" targetFramework="net452" />
  <package id="linq2db" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.Access" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.MySql" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.Oracle.x86" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.PostgreSQL" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.SQLite" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.SqlServer" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.Sybase" version="1.9.0" targetFramework="net452" />
  <package id="linq2db.t4models" version="1.9.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net452" />
</packages>