<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.8.4" targetFramework="net462" />
  <package id="linq2db" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.Access" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.MySql" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.Oracle.x86" version="1.10.0" targetFramework="net462" />
  <package id="linq2db.PostgreSQL" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.SQLite" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.SqlServer" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.Sybase" version="2.0.0" targetFramework="net462" />
  <package id="linq2db.t4models" version="1.10.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net462" />
  <package id="Npgsql" version="4.0.0" targetFramework="net462" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>