<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdoNetCore.AseClient" version="0.13.1" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net462" />
  <package id="jQuery" version="2.1.1" targetFramework="net462" />
  <package id="linq2db" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.Access" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.MySql" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.Oracle.Managed" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.PostgreSQL" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.SQLite" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.SqlServer" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.Sybase" version="2.6.1" targetFramework="net462" />
  <package id="linq2db.Sybase.DataAction" version="2.6.1" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net462" />
  <package id="Npgsql" version="4.0.4" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net462" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net462" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net462" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>