<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dirA622272A3642906C114F843D2FDC5552" Name="release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA622272A3642906C114F843D2FDC5552">
            <Component Id="cmp08B8C5EFB4E3067985AB6C7DE53C14BD" Guid="*">
                <Class Id="{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}" Context="InprocServer32" Description="AddInSimple.AddInSimpleClass" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="AddInSimple.AddInSimpleClass" Description="AddInSimple.AddInSimpleClass" />
                </Class>
                <Class Id="{B3058A39-84E3-31ED-BEEB-7B845D5D3195}" Context="InprocServer32" Description="AddInSimple.InternalHelpers" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="AddInSimple.InternalHelpers" Description="AddInSimple.InternalHelpers" />
                </Class>
                <Class Id="{C988E1AE-9987-3759-B872-B924BB4767D5}" Context="InprocServer32" Description="AddInSimple.ConnectionStringSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="AddInSimple.ConnectionStringSettings" Description="AddInSimple.ConnectionStringSettings" />
                </Class>
                <File Id="filB7ACB0AA302E14C4B5BC103FF525B9EE" KeyPath="yes" Source="SourceDir\release\AddInSimple.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.0.7.0" Name="Class" Value="AddInSimple.AddInSimpleClass" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="Class" Value="AddInSimple.AddInSimpleClass" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{58E7B70F-16C4-4538-A4E8-AF4EAC27519B}\InprocServer32" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.0.7.0" Name="Class" Value="AddInSimple.InternalHelpers" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="Class" Value="AddInSimple.InternalHelpers" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B3058A39-84E3-31ED-BEEB-7B845D5D3195}\InprocServer32" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.0.7.0" Name="Class" Value="AddInSimple.ConnectionStringSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="Class" Value="AddInSimple.ConnectionStringSettings" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C988E1AE-9987-3759-B872-B924BB4767D5}\InprocServer32" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="Class" Value="ADODB.ConnectModeEnum" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000521-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="Class" Value="ADODB.EventStatusEnum" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{00000530-0000-0010-8000-00AA006D2EA4}\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.7.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.0.7.0" Name="Class" Value="AddInSimple.EaType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.0.7.0" Name="Assembly" Value="AddInSimple, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7754D73C-F034-3587-8590-13139C3B8F89}\1.0.7.0" Name="CodeBase" Value="file:///[#filB7ACB0AA302E14C4B5BC103FF525B9EE]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>