<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Customer" value="14F09211-3460-47A6-B837-A477491F0A67" />
        <add key="AddinTabToFirstActivate" value="hoTools"/>    
        <add key="isAskForQueryUpdateOutside" value="True" />
        <add key="SqlEditor" value="" />
        <add key="isConveyedItemSupport" value="false" />
        <add key="isLineStyleSupport" value="True" />
        <add key="isShortKeySupport" value="False" />
        <add key="isShowServiceButton" value="False" />
        <add key="isShowQueryButton" value="True" />
        <add key="isFavoriteSupport" value="True" />
        <add key="isConveyedItemsSupport" value="False" />
        <add key="AutoLoadMdg" value="Basic" />
        <add key="isSvnSupport" value="True" />
        <add key="isQuickSearchSupport" value="true"/>    <!-- use Quick  Search -->
        <add key="isVcSupport" value="True" />
        <add key="isAdvancedFeatures" value="True" />
        <add key="isAdvancedPort" value="False" />
        <add key="isAdvancedDiagramNote" value="False" />
        <add key="LineStyleAndMoreWindow" value="AddinWindow" />
        <add key="ScriptAndQueryWindow" value="Disabled" />
        <add key="OnlyQueryWindow" value="AddinWindow" />
        <add key="SearchAndReplaceWindow" value="Disabled" />
        <add key="FileManagerPath" value="Explorer.Exe" />
        <!-- SQL/Script configuration -->
        <add key="SqlPaths" value="c:\temp\sql;c:\temp\sql" />
        <!-- semicolon separated list of paths hoTools searches for SQL Queries -->
        <add key="SqlLastOpenedFile1" value="" />
        <add key="SqlLastOpenedFile2" value="" />
        <add key="SqlLastOpenedFile3" value="" />
        <add key="SqlLastOpenedFile4" value="" />
        <add key="SqlLastOpenedFile5" value="" />
        <add key="SqlLastOpenedFile6" value="" />
        <add key="SqlLastOpenedFile7" value="" />
        <add key="SqlLastOpenedFile8" value="" />
        <add key="SqlLastOpenedFile9" value="" />
        <add key="SqlLastOpenedFile10" value="" />
        <add key="SqlFolder" value="c:\temp\sql" />
        <add key="SqlFile1" value="" />
        <add key="SqlFile2" value="" />
        <add key="SqlFile3" value="" />
        <add key="SqlFile4" value="" />
        <add key="SqlFile5" value="" />
        <add key="SqlFile6" value="" />
        <add key="SqlFile7" value="" />
        <add key="SqlFile8" value="" />
        <add key="SqlFile9" value="" />
        <add key="SqlFile10" value="" />
        <add key="SqlFile11" value="" />
        <add key="SqlFile12" value="" />
        <add key="SqlFile13" value="" />
        <add key="SqlFile14" value="" />
        <add key="SqlFile15" value="" />
        <add key="SqlFile16" value="" />
        <add key="SqlFile17" value="" />
        <add key="SqlFile18" value="" />
        <add key="SqlFile19" value="" />
        <add key="SqlFile20" value="" />
        <add key="ActivityLineStyle" value="no" />
        <add key="StatechartLineStyle" value="no " />
        <add key="ClassLineStyle" value="no" />
        <add key="ComponentLineStyle" value="no" />
        <add key="PackageLineStyle" value="no" />
        <add key="DeploymentLineStyle" value="no" />
        <add key="CompositeStructureLineStyle" value="no" />
        <add key="UseCaseLineStyle" value="no" />
        <add key="CustomLineStyle" value="no" />
        <add key="QuickSearchName" value="Simple" />
        <add key="ProductName" value="hoTools" />
        <add key="WithTabWindow" value="false" />
        <add key="key1Text" value="E" />
        <add key="key1Type" value="Search" />
        <add key="key1Par1" value="Recently Modified Elements" />
        <add key="key1Par2" value="" />
        <add key="key1Tooltip" value="EA standard Recently Modified Elements" />
        <add key="key2Text" value="D" />
        <add key="key2Type" value="Search" />
        <add key="key2Par1" value="Recently Modified Diagrams" />
        <add key="key2Par2" value="" />
        <add key="key2Tooltip" value="EA standard Recdently Modified Diagrams" />
        <add key="key3Text" value="S" />
        <add key="key3Type" value="Search" />
        <add key="key3Par1" value="Simple" />
        <add key="key3Par2" value="" />
        <add key="key3Tooltip" value="EA standard Search Simple (without &lt;Search Term&gt;!)" />
        <add key="key4Text" value="" />
        <add key="key4Type" value="Search" />
        <add key="key4Par1" value="" />
        <add key="key4Par2" value="" />
        <add key="key4Tooltip" value="" />
        <add key="key5Text" value="" />
        <add key="key5Type" value="Search" />
        <add key="key5Par1" value="" />
        <add key="key5Par2" value="" />
        <add key="key5Tooltip" value="" />
        <add key="globalKeySearch1Key" value="F1" />
        <add key="globalKeySearch1Modifier1" value="Ctrl" />
        <add key="globalKeySearch1Modifier2" value="No" />
        <add key="globalKeySearch1Modifier3" value="No" />
        <add key="globalKeySearch1Modifier4" value="No" />
        <add key="globalKeySearch1SearchName" value="" />
        <add key="globalKeySearch1SearchTerm" value="" />
        <add key="globalKeySearch1Tooltip" value="" />
        <add key="globalKeySearch2Key" value="F2" />
        <add key="globalKeySearch2Modifier1" value="Ctrl" />
        <add key="globalKeySearch2Modifier2" value="No" />
        <add key="globalKeySearch2Modifier3" value="No" />
        <add key="globalKeySearch2Modifier4" value="No" />
        <add key="globalKeySearch2SearchName" value="" />
        <add key="globalKeySearch2SearchTerm" value="" />
        <add key="globalKeySearch2Tooltip" value="" />
        <add key="globalKeySearch3Key" value="F3" />
        <add key="globalKeySearch3Modifier1" value="Ctrl" />
        <add key="globalKeySearch3Modifier2" value="No" />
        <add key="globalKeySearch3Modifier3" value="No" />
        <add key="globalKeySearch3Modifier4" value="No" />
        <add key="globalKeySearch3SearchName" value="" />
        <add key="globalKeySearch3SearchTerm" value="" />
        <add key="globalKeySearch3Tooltip" value="" />
        <add key="globalKeySearch4Key" value="F4" />
        <add key="globalKeySearch4Modifier1" value="Ctrl" />
        <add key="globalKeySearch4Modifier2" value="No" />
        <add key="globalKeySearch4Modifier3" value="No" />
        <add key="globalKeySearch4Modifier4" value="No" />
        <add key="globalKeySearch4SearchName" value="" />
        <add key="globalKeySearch4SearchTerm" value="" />
        <add key="globalKeySearch4Tooltip" value="" />
        <add key="globalKeySearch5Key" value="F5" />
        <add key="globalKeySearch5Modifier1" value="Ctrl" />
        <add key="globalKeySearch5Modifier2" value="No" />
        <add key="globalKeySearch5Modifier3" value="No" />
        <add key="globalKeySearch5Modifier4" value="No" />
        <add key="globalKeySearch5SearchName" value="" />
        <add key="globalKeySearch5SearchTerm" value="" />
        <add key="globalKeySearch5Tooltip" value="" />
        <add key="globalKeyService1Key" value="F1" />
        <add key="globalKeyService1Modifier1" value="Shift" />
        <add key="globalKeyService1Modifier2" value="Ctrl" />
        <add key="globalKeyService1Modifier3" value="No" />
        <add key="globalKeyService1Modifier4" value="No" />
        <add key="globalKeyService1GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="globalKeyService2Key" value="F2" />
        <add key="globalKeyService2Modifier1" value="Shift" />
        <add key="globalKeyService2Modifier2" value="Ctrl" />
        <add key="globalKeyService2Modifier3" value="No" />
        <add key="globalKeyService2Modifier4" value="No" />
        <add key="globalKeyService2GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="globalKeyService3Key" value="F3" />
        <add key="globalKeyService3Modifier1" value="Shift" />
        <add key="globalKeyService3Modifier2" value="Ctrl" />
        <add key="globalKeyService3Modifier3" value="No" />
        <add key="globalKeyService3Modifier4" value="No" />
        <add key="globalKeyService3GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="globalKeyService4Key" value="F4" />
        <add key="globalKeyService4Modifier1" value="Shift" />
        <add key="globalKeyService4Modifier2" value="Ctrl" />
        <add key="globalKeyService4Modifier3" value="No" />
        <add key="globalKeyService4Modifier4" value="No" />
        <add key="globalKeyService4GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="globalKeyService5Key" value="F5" />
        <add key="globalKeyService5Modifier1" value="Shift" />
        <add key="globalKeyService5Modifier2" value="Ctrl" />
        <add key="globalKeyService5Modifier3" value="No" />
        <add key="globalKeyService5Modifier4" value="No" />
        <add key="globalKeyService5GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="service1GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="service1Text" value="1" />
        <add key="service2GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="service2Text" value="2" />
        <add key="service3GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="service3Text" value="3" />
        <add key="service4GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="service4Text" value="4" />
        <add key="service5GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}" />
        <add key="service5Text" value="5" />
    </appSettings>
</configuration>