<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="AddInFramework.dll" Guid="84250DEF-567D-4996-A611-1DFA999782E8">
                <Class Id="{00BC3468-756A-30FF-9110-9AF2838CFF17}" Context="InprocServer32" Description="AddinFramework.Util.ScriptUtility" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="AddinFramework.Util.ScriptUtility" Description="AddinFramework.Util.ScriptUtility" />
                </Class>
                <Class Id="{5A449A03-C88C-31E8-8006-B605C10E9748}" Context="InprocServer32" Description="EAAddinFramework.Utils.VBScriptLanguage" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="EAAddinFramework.Utils.VBScriptLanguage" Description="EAAddinFramework.Utils.VBScriptLanguage" />
                </Class>
                <Class Id="{6C296D56-CE0A-341C-BE52-E9BDC1627181}" Context="InprocServer32" Description="EAAddinFramework.Utils.JScriptLanguage" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="EAAddinFramework.Utils.JScriptLanguage" Description="EAAddinFramework.Utils.JScriptLanguage" />
                </Class>
                <Class Id="{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}" Context="InprocServer32" Description="EAAddinFramework.Utils.JavaScriptLanguage" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="EAAddinFramework.Utils.JavaScriptLanguage" Description="EAAddinFramework.Utils.JavaScriptLanguage" />
                </Class>
                <Class Id="{B40694D0-C515-35F7-B154-3AB3E897387C}" Context="InprocServer32" Description="EAAddinFramework.Utils.Model" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="EAAddinFramework.Utils.Model" Description="EAAddinFramework.Utils.Model" />
                </Class>
                <File Id="AddInFramework.dll" KeyPath="yes" Source="$(var.AddinFramework.TargetDir)\AddInFramework.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32\4.2.2.0" Name="Class" Value="AddinFramework.Util.ScriptUtility" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32" Name="Class" Value="AddinFramework.Util.ScriptUtility" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{00BC3468-756A-30FF-9110-9AF2838CFF17}\InprocServer32" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32\4.2.2.0" Name="Class" Value="EAAddinFramework.Utils.VBScriptLanguage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32" Name="Class" Value="EAAddinFramework.Utils.VBScriptLanguage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{5A449A03-C88C-31E8-8006-B605C10E9748}\InprocServer32" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32\4.2.2.0" Name="Class" Value="EAAddinFramework.Utils.JScriptLanguage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32" Name="Class" Value="EAAddinFramework.Utils.JScriptLanguage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6C296D56-CE0A-341C-BE52-E9BDC1627181}\InprocServer32" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32\4.2.2.0" Name="Class" Value="EAAddinFramework.Utils.JavaScriptLanguage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32" Name="Class" Value="EAAddinFramework.Utils.JavaScriptLanguage" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7EE0C803-BABC-3891-9227-9ED5DE8B2A41}\InprocServer32" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32\4.2.2.0" Name="Class" Value="EAAddinFramework.Utils.Model" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32" Name="Class" Value="EAAddinFramework.Utils.Model" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{B40694D0-C515-35F7-B154-3AB3E897387C}\InprocServer32" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{04CC6010-CDD9-30EA-B2F4-3DE13FAFFB6B}\4.2.2.0" Name="Class" Value="AddinFramework.Util.Search+FuzzyAlgo" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{04CC6010-CDD9-30EA-B2F4-3DE13FAFFB6B}\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{04CC6010-CDD9-30EA-B2F4-3DE13FAFFB6B}\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{04CC6010-CDD9-30EA-B2F4-3DE13FAFFB6B}\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0ACFB186-AF60-31E2-87E3-E3B310FB5B9C}\4.2.2.0" Name="Class" Value="EAAddinFramework.EASpecific.ScriptType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0ACFB186-AF60-31E2-87E3-E3B310FB5B9C}\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0ACFB186-AF60-31E2-87E3-E3B310FB5B9C}\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0ACFB186-AF60-31E2-87E3-E3B310FB5B9C}\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6D3D05C6-E0F0-314E-821D-1FFB48580F72}\4.2.2.0" Name="Class" Value="EAAddinFramework.Utils.EaScriptGroup+EaScriptGroupType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6D3D05C6-E0F0-314E-821D-1FFB48580F72}\4.2.2.0" Name="Assembly" Value="AddinFramework, Version=4.2.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6D3D05C6-E0F0-314E-821D-1FFB48580F72}\4.2.2.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6D3D05C6-E0F0-314E-821D-1FFB48580F72}\4.2.2.0" Name="CodeBase" Value="file:///[#AddInFramework.dll]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COM_DllFramework">
            <ComponentRef Id="AddInFramework.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>