<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="hoToolsRoot.dll" Guid="52CB8A35-5A85-4835-8339-11A29C69F260">
                <Class Id="{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}" Context="InprocServer32" Description="hoTools.HoToolsRoot" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.hoToolsRoot" Description="hoTools.HoToolsRoot" />
                </Class>
                <Class Id="{F60EEA5C-509C-34FE-8A14-10B05BCF5497}" Context="InprocServer32" Description="hoTools.About" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="hoTools.About" Description="hoTools.About" />
                </Class>
                <File Id="hoToolsRoot.dll" KeyPath="yes" Source="$(var.hoToolsRoot.TargetDir)\hoToolsRoot.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32\4.2.7.0" Name="Class" Value="hoTools.HoToolsRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32\4.2.7.0" Name="Assembly" Value="hoToolsRoot, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32\4.2.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32\4.2.7.0" Name="CodeBase" Value="file:///[#hoToolsRoot.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32" Name="Class" Value="hoTools.HoToolsRoot" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32" Name="Assembly" Value="hoToolsRoot, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{661B3D5E-F2A4-385F-BCD8-6C5E8CB56929}\InprocServer32" Name="CodeBase" Value="file:///[#hoToolsRoot.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32\4.2.7.0" Name="Class" Value="hoTools.About" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32\4.2.7.0" Name="Assembly" Value="hoToolsRoot, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32\4.2.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32\4.2.7.0" Name="CodeBase" Value="file:///[#hoToolsRoot.dll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32" Name="Class" Value="hoTools.About" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32" Name="Assembly" Value="hoToolsRoot, Version=4.2.7.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F60EEA5C-509C-34FE-8A14-10B05BCF5497}\InprocServer32" Name="CodeBase" Value="file:///[#hoToolsRoot.dll]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COM_DllRoot">
            <ComponentRef Id="hoToolsRoot.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>