<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  1. Generate mit Wix Tool heat the registry entry for Addin.dll (in bin\release folder of Addin
     "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat" file hoToolsAddin.dll -ag -template fragment -out IFM_Addin.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
    Name="IFM_Addin.dll" Source="$(var.hoTools.AddinClass.TargetPath)" />
  4. A component for every file
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">
      <Component Id="LicenceRTF" Guid="284C41C4-C802-4636-A1CF-BD85276ADDDA">
        <File Id="LicenseFile" Name="license.rtf" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="SettingsID" Guid="03C40ACF-2BEE-4C6D-B706-C0AA893CDF08">
        <File Id="SettingsID" Name="SettingsID" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="RegisterEA" Guid="08CCFB79-BA02-4B57-BE8B-795754A6113F">
        <RegistryKey Root="HKLM" Key="Software\Sparx Systems\EAAddins\hoTools">
          <RegistryValue Type="string" Value="hoTools.AddinClass" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="Help" Guid="7C6716FC-4A34-447B-BA42-1E632099D9F0">
        <File Id="Help" Name="hoTools.chm" Source="..\Addin\hoTools.chm"  KeyPath="yes" />
      </Component>
      <Component Id="Utils" Guid="2B27E821-A105-4BDF-8E6A-C8CC43DB54ED">
        <File Id="Utils" KeyPath="yes" Name="Utils.dll" Source="$(var.Util.TargetPath)" /> 
      </Component>
      <Component Id="EaServices" Guid="EDB06D59-762F-4B7D-BCFF-7C59DDFC3519">
        <File Id="EaServices" KeyPath="yes" Name="EaServices.dll"  Source="$(var.EaServices.TargetPath)" />
      </Component>
      <!--
      Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="cmpC2FEA6D91D37AF07194D2FAEB04BBC17" Guid="*">
        <Class Id="{36134372-64CB-340A-961B-AE516E565C47}" Context="InprocServer32" Description="hoTools.About" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.About" Description="hoTools.About" />
        </Class>
        <Class Id="{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}" Context="InprocServer32" Description="hoTools.AddinClass" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.AddinClass" Description="hoTools.AddinClass" />
        </Class>
        <File Id="fil91FEF81E8595ACAC6526F318A4E8AD9E" KeyPath="yes" Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32\1.0.0.0" Name="Assembly" Value="AddinClass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32" Name="Class" Value="hoTools.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32" Name="Assembly" Value="AddinClass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{36134372-64CB-340A-961B-AE516E565C47}\InprocServer32" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.AddinClass" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32\1.0.0.0" Name="Assembly" Value="AddinClass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32" Name="Class" Value="hoTools.AddinClass" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32" Name="Assembly" Value="AddinClass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{F5E885DB-4E20-3647-ABD6-2DB3E87D9DE6}\InprocServer32" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="AddinClass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F5708CC7-E449-3861-8CCD-24AFBB4264DC}\1.0.0.0" Name="Class" Value="hoTools.AddinClass+displayMode" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F5708CC7-E449-3861-8CCD-24AFBB4264DC}\1.0.0.0" Name="Assembly" Value="AddinClass, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F5708CC7-E449-3861-8CCD-24AFBB4264DC}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F5708CC7-E449-3861-8CCD-24AFBB4264DC}\1.0.0.0" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
      </Component>
      <!--
      Name="ActiveX.dll" Source="$(var.ActiveX.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="cmp561F622FF9BFE23C36E24106C41C2B60" Guid="*">
        <Class Id="{38270A64-8DF6-30A9-9287-65456D2BF560}" Context="InprocServer32" Description="hoTools.ActiveX.AddinControlGUI+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.ActiveX.AddinControlGUI+EnterTextBox" Description="hoTools.ActiveX.AddinControlGUI+EnterTextBox" />
        </Class>
        <Class Id="{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}" Context="InprocServer32" Description="hoTools.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Settings.AddinSettings" Description="hoTools.Settings.AddinSettings" />
        </Class>
        <Class Id="{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}" Context="InprocServer32" Description="hoTools.EaServices.Dlg.dlgUser" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.EaServices.Dlg.dlgUser" Description="hoTools.EaServices.Dlg.dlgUser" />
        </Class>
        <Class Id="{97940198-1C2A-45B9-9CED-5BD780B99BB4}" Context="InprocServer32" Description="hoTools.ActiveX.AddinControlGUI" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.ActiveXGUI" Description="hoTools.ActiveX.AddinControlGUI" />
        </Class>
        <File Id="fil4D76395855488B9776C467C9F435A58D" KeyPath="yes" Name="ActiveX.dll" Source="$(var.ActiveX.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.ActiveX.AddinControlGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32\1.0.0.0" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32" Name="Class" Value="hoTools.ActiveX.AddinControlGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{38270A64-8DF6-30A9-9287-65456D2BF560}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32\1.0.0.0" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{55E5C4A5-6D12-3F9E-9B4F-BE07ADA6FFBA}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.EaServices.Dlg.dlgUser" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32\1.0.0.0" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32" Name="Class" Value="hoTools.EaServices.Dlg.dlgUser" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{5CBD6E5B-87C7-3D41-85A3-82604D2ABEBD}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.ActiveX.AddinControlGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32\1.0.0.0" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32" Name="Class" Value="hoTools.ActiveX.AddinControlGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{97940198-1C2A-45B9-9CED-5BD780B99BB4}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{DEA812C3-AF67-30C5-8709-669EA47F8BDE}\1.0.0.0" Name="Class" Value="hoTools.Settings.AddinSettings+CustomerCfg" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{DEA812C3-AF67-30C5-8709-669EA47F8BDE}\1.0.0.0" Name="Assembly" Value="ActiveX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{DEA812C3-AF67-30C5-8709-669EA47F8BDE}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{DEA812C3-AF67-30C5-8709-669EA47F8BDE}\1.0.0.0" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
      </Component>
      <!--
      Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="cmp6693CB5CE252A74FC08CF627CAEA7C1E" Guid="*">
        <Class Id="{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.FindAndReplaceGUI" Description="hoTools.Find.FindAndReplaceGUI" />
        </Class>
        <Class Id="{B2A01082-0CA1-323B-83DA-7E50359C72BF}" Context="InprocServer32" Description="hoTools.Find.RecursivePackageFind" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.RecursivePackageFind" Description="hoTools.Find.RecursivePackageFind" />
        </Class>
        <Class Id="{EEACCE1E-3253-3080-8E74-9B05A50CF805}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" />
        </Class>
        <File Id="filC7544EB9035A370953E9570607E467EE" KeyPath="yes" Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32\1.0.0.0" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4B922F8E-7FAD-45ED-AD49-6004478EBDB3}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.Find.RecursivePackageFind" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32\1.0.0.0" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32" Name="Class" Value="hoTools.Find.RecursivePackageFind" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B2A01082-0CA1-323B-83DA-7E50359C72BF}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32\1.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32\1.0.0.0" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{EEACCE1E-3253-3080-8E74-9B05A50CF805}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{54536B97-FDF9-3DC4-B05A-278C8E534CD9}\1.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceItem+FieldType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{54536B97-FDF9-3DC4-B05A-278C8E534CD9}\1.0.0.0" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{54536B97-FDF9-3DC4-B05A-278C8E534CD9}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{54536B97-FDF9-3DC4-B05A-278C8E534CD9}\1.0.0.0" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="FindAndReplace, Version=1.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
      </Component>
      <!-- Configuration  ActiveX.dll.config  -->
      <Component Id="ActiveX.dll.config" Guid="357C0398-047E-4E8A-957C-C2F0607ED8E1">
        <File Id="ActiveX.dll.config" Name="ActiveX.dll.config" KeyPath="yes" Source="..\Setup\ActiveX.dll.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>