<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll 
    you have to update the registry information in this file!!!!
    either by run Collect.bat and inserting everything between <Component> and </Component> or 
    by simply replacing the AssemblyVersion with the correct value (multiple times)
         
  
  1. Generate mit Wix Tool heat the registry entry for Addin.dll (in bin\release folder of Addin
     "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat" file hoToolsAddin.dll -ag -template fragment -out hoTools_Addin.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - HoToolsGui.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
    Name="HoToolsGui.dll" Source="$(var.HoToolsGui.TargetPath)" />
    Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
  4. A component for every file
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">
      <Component Id="LicenceRTF" Guid="284C41C4-C802-4636-A1CF-BD85276ADDDA">
        <File Id="LicenseFile" Name="license.rtf" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="SettingsID" Guid="03C40ACF-2BEE-4C6D-B706-C0AA893CDF08">
        <File Id="SettingsID" Name="SettingsID" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="Sql.zip" Guid="{B51D32DE-0AE7-46D9-A8EF-90C8F74EE10E}">
        <File Id="Sql.zip" Name="Sql.zip" Source="sql.zip"  KeyPath="yes" />
      </Component>
      
      <Component Id="RegisterEA" Guid="08CCFB79-BA02-4B57-BE8B-795754A6113F">
        <RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\hoTools">
          <RegistryValue Type="string" Value="hoTools.HoToolsRoot" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="Help" Guid="7C6716FC-4A34-447B-BA42-1E632099D9F0">
        <File Id="Help" Name="hoTools.chm" Source="..\hoToolsRoot\hoTools.chm"  KeyPath="yes" />
      </Component>
      <!-- EA Standard Searches Configuration                   -->
      <Component Id="EaStandardSearches.json" Guid="{BDC7CABC-176C-4F01-8E11-926724F50A48}">
        <File Id="EaStandardSearches.json" Name="EaStandardSearches.json" Source="..\AddinFramework\EaStandardSearches.json" KeyPath="yes" />
      </Component>
      <Component Id="Utils" Guid="260441DA-0826-4CF6-A6DA-5777C2BEEDE0">
        <File Id="Utils" KeyPath="yes" Name="Utils.dll" Source="$(var.Util.TargetPath)" /> 
      </Component>
      <Component Id="EaServices" Guid="EDB06D59-762F-4B7D-BCFF-7C59DDFC3519">
        <File Id="EaServices" KeyPath="yes" Name="EaServices.dll"  Source="$(var.EaServices.TargetPath)" />
      </Component>
      <Component Id="DuoVia.FuzzyStrings" Guid="525D4F63-8200-41A4-ADC2-C9C4801669E8">
        <File Id="DuoVia.FuzzyStrings" KeyPath="yes" Name="DuoVia.FuzzyStrings.dll"  Source="$(var.DuoVia.FuzzyStrings.TargetPath)" />
      </Component>
       <Component Id="Newtonsoft.Json" Guid="48483AD6-80C5-41C6-87DB-CE36684E4ACD">
        <File Id="Newtonsoft.Json" KeyPath="yes" Name="Newtonsoft.Json.dll"  Source="..\packages\Newtonsoft.Json.10.0.2\lib\net45\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="KBCsv" Guid="30620E70-7C9D-45E4-BEC8-6A3B8D5107EA">
        <File Id="KBCsv" KeyPath="yes" Name="KBCsv.dll"  Source="..\packages\KBCsv.5.0.0\lib\netstandard1.0\KBCsv.dll" />
      </Component>
      <Component Id="KBCsv.Extensions.Data" Guid="97618C61-D0E0-41B0-8A2D-F82ECC5AF35E">
        <File Id="KBCsv.Extensions.Data" KeyPath="yes" Name="KBCsv.Extensions.Data.dll"  Source="..\packages\KBCsv.Extensions.Data.5.0.0\lib\net45\KBCsv.Extensions.Data.dll" />
      </Component>
      <Component Id="DocumentFormat.OpenXml" Guid="F6FBBA69-A929-413B-A13B-BBDD7851D1F7">
        <File Id="DocumentFormat.OpenXml" KeyPath="yes" Name="DocumentFormat.OpenXml.dll"  Source="..\packages\DocumentFormat.OpenXml.2.5\lib\DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="ClosedXml" Guid="969900BC-0842-4E36-B550-35AA37682D19">
        <File Id="ClosedXml" KeyPath="yes" Name="ClosedXml.dll"  Source="..\packages\ClosedXML.0.80.1\lib\net40-client\ClosedXML.dll" />
      </Component>
      <Component Id="AddinFramework" Guid="03862F5A-C4CB-4234-B744-14DDE1454E0F">
        <File Id="AddinFramework" KeyPath="yes" Name="AddinFramework.dll" Source="$(var.AddinFramework.TargetPath)" />
      </Component>
      <Component Id="hoLinqToSql" Guid="{79DD6C2E-E306-4318-A840-F80A4A833E1D}">
        <File Id="hoLinqToSql" KeyPath="yes" Name="hoLinqToSql.dll" Source="$(var.hoLinqToSql.TargetPath)" />
      </Component>
      
      
      <!--
      Name="hoToolsRoot.dll" Source="$(var.hoToolsRoot.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      -->
      <Component Id="cmp31940B54CF312110947FB4C57021C05C" Guid="*">
        <Class Id="{24C07752-9837-3B2F-80CD-A1747150F9E1}" Context="InprocServer32" Description="hoTools.HoToolsRoot" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.HoToolsRoot" Description="hoTools.HoToolsRoot" />
        </Class>
        <Class Id="{8AB7C74D-D767-3D1A-801B-82DA0C10E523}" Context="InprocServer32" Description="hoTools.About" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.About" Description="hoTools.About" />
        </Class>
        <File Id="filCA8A52E7876A339B3756985923353460" KeyPath="yes"  Name="hoToolsRoot.dll" Source="$(var.hoToolsRoot.TargetPath)" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32\3.1.3" Name="Class" Value="hoTools.HoToolsRoot" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32\3.1.3" Name="Assembly" Value="hoToolsRoot, Version=3.1.3, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32\3.1.3" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32\3.1.3" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32" Name="Class" Value="hoTools.HoToolsRoot" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32" Name="Assembly" Value="hoToolsRoot, Version=3.1.3, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{24C07752-9837-3B2F-80CD-A1747150F9E1}\InprocServer32" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32\3.1.3" Name="Class" Value="hoTools.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32\3.1.3" Name="Assembly" Value="hoToolsRoot, Version=3.1.3, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32\3.1.3" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32\3.1.3" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32" Name="Class" Value="hoTools.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32" Name="Assembly" Value="hoToolsRoot, Version=3.1.3, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8AB7C74D-D767-3D1A-801B-82DA0C10E523}\InprocServer32" Name="CodeBase" Value="file:///[#filCA8A52E7876A339B3756985923353460]" Type="string" Action="write" />
      </Component>
      <!--
      Name="hoToolsGui.dll" Source="$(var.hoToolsGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      -->
      <Component Id="cmp7418A9F88625553929E4E28D82354AE8" Guid="*">
        <Class Id="{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}" Context="InprocServer32" Description="hoTools.hoToolsGui.AddinGui" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.hoToolsGui.AddinGui" Description="hoTools.hoToolsGui.AddinGui" />
        </Class>
        <Class Id="{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}" Context="InprocServer32" Description="hoTools.hoToolsGui.HoToolsGui" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.hoToolsGui" Description="hoTools.hoToolsGui.HoToolsGui" />
        </Class>
        <Class Id="{8466A246-CFF7-346C-9668-A205D03A4AA1}" Context="InprocServer32" Description="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Description="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" />
        </Class>
        <Class Id="{9E17AAAE-A3B8-3022-B6E6-596904B3729D}" Context="InprocServer32" Description="hoTools.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Settings.AddinSettings" Description="hoTools.Settings.AddinSettings" />
        </Class>
        <File Id="fil6A0C316308E925A60172896738742F6F" KeyPath="yes" Name="hoToolsGui.dll" Source="$(var.hoToolsGui.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32\3.1.5" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.AddinGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{1B8C6EA1-B38B-3530-95D8-12EB6DB36346}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.1.5" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32\3.1.5" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32" Name="Class" Value="hoTools.hoToolsGui.HoToolsGui+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{8466A246-CFF7-346C-9668-A205D03A4AA1}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32\3.1.5" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{9E17AAAE-A3B8-3022-B6E6-596904B3729D}\InprocServer32" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{573A47A4-1004-3DE8-9B3F-C07416BA35A9}\3.1.5" Name="Class" Value="hoTools.Settings.AddinSettings+ShowInWindow" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{573A47A4-1004-3DE8-9B3F-C07416BA35A9}\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{573A47A4-1004-3DE8-9B3F-C07416BA35A9}\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{573A47A4-1004-3DE8-9B3F-C07416BA35A9}\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{815AF342-D23D-39AB-AACF-5279510ECC80}\3.1.5" Name="Class" Value="hoTools.Settings.AddinSettings+CustomerCfg" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{815AF342-D23D-39AB-AACF-5279510ECC80}\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{815AF342-D23D-39AB-AACF-5279510ECC80}\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{815AF342-D23D-39AB-AACF-5279510ECC80}\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{AB39B458-0EDC-3FE7-BF3A-F4E44AC353E2}\3.1.5" Name="Class" Value="hoTools.Settings.AddinSettings+AutoLoadMdg" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{AB39B458-0EDC-3FE7-BF3A-F4E44AC353E2}\3.1.5" Name="Assembly" Value="hoToolsGui, Version=3.1.5, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{AB39B458-0EDC-3FE7-BF3A-F4E44AC353E2}\3.1.5" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{AB39B458-0EDC-3FE7-BF3A-F4E44AC353E2}\3.1.5" Name="CodeBase" Value="file:///[#fil6A0C316308E925A60172896738742F6F]" Type="string" Action="write" />
      </Component>
      <!--
      Name="hoFindAndReplaceGui.dll" Source="$(var.hoFindAndReplaceGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      -->
      <Component Id="cmp28B2327A2A980C943C7C1F3FC0E50C7E" Guid="*">
        <Class Id="{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.FindAndReplaceGUI" Description="hoTools.Find.FindAndReplaceGUI" />
        </Class>
        <Class Id="{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}" Context="InprocServer32" Description="hoTools.Find.RegularExpression" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.RegularExpression" Description="hoTools.Find.RegularExpression" />
        </Class>
        <Class Id="{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" />
        </Class>
        <File Id="filA035CBAA0CDCAB5363C54609C4E4C661" KeyPath="yes" Name="hoFindAndReplaceGui.dll" Source="$(var.hoFindAndReplaceGui.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Find.RegularExpression" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32" Name="Class" Value="hoTools.Find.RegularExpression" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{67324A4C-48A4-3304-9FF8-D71FBC8FF6F0}\InprocServer32" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{D5EAB488-4E76-3AC1-983F-7F203AEDA0C0}\InprocServer32" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BA4845EA-3D56-38FB-B467-7C4AC1069202}\3.0.0.0" Name="Class" Value="hoTools.Find.FindAndReplaceItem+FieldType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BA4845EA-3D56-38FB-B467-7C4AC1069202}\3.0.0.0" Name="Assembly" Value="hoFindAndReplaceGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BA4845EA-3D56-38FB-B467-7C4AC1069202}\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BA4845EA-3D56-38FB-B467-7C4AC1069202}\3.0.0.0" Name="CodeBase" Value="file:///[#filA035CBAA0CDCAB5363C54609C4E4C661]" Type="string" Action="write" />
      </Component>
      <!--
      Name="hoSqlGui.dll" Source="$(var.hoSqlGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      -->
      <Component Id="cmpAC8B040BBB0645E999205714FCDE95F3" Guid="*">
        <Class Id="{26B5B659-A894-3FB2-BC9D-585182F17166}" Context="InprocServer32" Description="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" Description="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" />
        </Class>
        <Class Id="{3F23B705-62F1-43D7-9F6F-085105FDF752}" Context="InprocServer32" Description="hoTools.hoSqlGui.HoSqlGui" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.sqlGui" Description="hoTools.hoSqlGui.HoSqlGui" />
        </Class>
        <File Id="fil8A8E84B2B5466816B97375A6AD9CE534" KeyPath="yes" Name="hoSqlGui.dll" Source="$(var.hoSqlGui.TargetPath)" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32\3.0.7.0" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32\3.0.7.0" Name="Assembly" Value="hoSqlGui, Version=3.0.7.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32\3.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32\3.0.7.0" Name="CodeBase" Value="file:///[#fil8A8E84B2B5466816B97375A6AD9CE534]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32" Name="Assembly" Value="hoSqlGui, Version=3.0.7.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{26B5B659-A894-3FB2-BC9D-585182F17166}\InprocServer32" Name="CodeBase" Value="file:///[#fil8A8E84B2B5466816B97375A6AD9CE534]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\3.0.7.0" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\3.0.7.0" Name="Assembly" Value="hoSqlGui, Version=3.0.7.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\3.0.7.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32\3.0.7.0" Name="CodeBase" Value="file:///[#fil8A8E84B2B5466816B97375A6AD9CE534]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="Class" Value="hoTools.hoSqlGui.HoSqlGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="Assembly" Value="hoSqlGui, Version=3.0.7.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{3F23B705-62F1-43D7-9F6F-085105FDF752}\InprocServer32" Name="CodeBase" Value="file:///[#fil8A8E84B2B5466816B97375A6AD9CE534]" Type="string" Action="write" />
      </Component>
      <!--
      Name="hoExtensionGUI.dll" Source="$(var.hoExtensionGui.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      If you change AssemblyVersion also update all Version=.. in the beneath associated registry - or run the collect.bat
      -->
      <Component Id="cmp5F935FA914105189E55B8F7E9C2A3543" Guid="*">
        <Class Id="{07081FF7-5B36-4487-994B-B69DA4D4C530}" Context="InprocServer32" Description="hoTools.Extensions.ExtensionGui" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.ExtensionGUI" Description="hoTools.Extensions.ExtensionGui" />
        </Class>
        <File Id="fil12F7128C983515498BE670F1B7E0298F" KeyPath="yes"  Name="hoExtensionGUI.dll" Source="$(var.hoExtensionGui.TargetPath)" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="Class" Value="hoTools.Extensions.ExtensionGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="Assembly" Value="hoExtensionGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32\3.0.0.0" Name="CodeBase" Value="file:///[#fil12F7128C983515498BE670F1B7E0298F]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="Class" Value="hoTools.Extensions.ExtensionGui" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="Assembly" Value="hoExtensionGui, Version=3.0.0.0, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{07081FF7-5B36-4487-994B-B69DA4D4C530}\InprocServer32" Name="CodeBase" Value="file:///[#fil12F7128C983515498BE670F1B7E0298F]" Type="string" Action="write" />
      </Component>
        
      
      <!-- Configuration  HoToolsGui.dll.config  -->
      <Component Id="HoToolsGui.dll.config" Guid="0A3B18B4-1459-4748-8B5E-64F82E2310D7">
        <File Id="HoToolsGui.dll.config" Name="HoToolsGui.dll.config" KeyPath="yes" Source="..\Setup\HoToolsGui.dll.config" />
      </Component>
      <!-- User Searches, copy them into the roaming folder of hoTools                                    -->
      <Component Id="UserSearches.json" Guid="FCF9AF3B-36BD-4EFC-8A7E-3129FB0D2E3B">
        <File Id="UserSearches.json" Name="UserSearches.json" KeyPath="yes" Source="..\Setup\UserSearches.json" />
      </Component>
      <!-- Settings.json                                            -->
      <Component Id="Settings.json" Guid="BD28E104-6CD6-4D24-9F3A-44CA5054429E">
        <File Id="Settings.json" Name="Settings.json" KeyPath="yes" Source="..\Setup\Settings.json" />
      </Component>
      <Component Id="hoToolsBasic.xml" Guid="DD837398-1240-45E4-A5BE-D218A42E2E5B">
        <File Id="hoToolsBasic.xml" Name="hoToolsBasic.xml" KeyPath="yes" Source="..\hoToolsRoot\hoToolsBasic.xml" />
      </Component>
      <Component Id="hoToolsCompilation.xml" Guid="21C131ED-2D03-48F1-A6FF-1B1127612DE1">
        <File Id="hoToolsCompilation.xml" Name="hoToolsCompilation.xml" KeyPath="yes" Source="..\hoToolsRoot\hoToolsCompilation.xml" />
      </Component>
      <Component Id="hoModelViewsMDG.xml" Guid="58558A7B-1F88-43CD-93BC-0863A82D88EE">
        <File Id="hoModelViewsMDG.xml" Name="hoModelViewsMDG.xml" KeyPath="yes" Source="..\hoToolsRoot\hoModelViewsMDG.xml" />
      </Component>


      <!-- linq2db                   -->
      <!-- Supported databases Access, MySQL, SqlServer, Oracle, Sybase, Postgres (tested: Access, MySQL, SqlServer) -->
      <Component Id="linq2db.dll" Guid="{7F7E0442-6625-451E-841E-E4D304EFBCBA}">
        <File Id="linq2db.dll" KeyPath="yes" Name="linq2db.dll" Source="..\packages\linq2db.1.8.3\lib\net45\linq2db.dll" />
      </Component>
      <!-- Separate install MySql.Data.dll-->
      <Component Id="MySql.Data.dll" Guid="{1D9AF997-5EFF-4F2A-9410-72EAA69473CC}">
        <File Id="MySql.Data.dll" KeyPath="yes" Name="MySql.Data.dll" Source="..\packages\MySql.Data.6.9.9\lib\net45\MySql.Data.dll" />
      </Component>
      <Component Id="Microsoft.SqlServer.Types.dll" Guid="{EABD70B2-374E-4959-AB91-38863D06ABFA}">
        <File Id="Microsoft.SqlServer.Types.dll" KeyPath="yes" Name="Microsoft.SqlServer.Types.dll" Source="..\packages\linq2db.SqlServer.1.8.3\tools\Microsoft.SqlServer.Types.dll" />
      </Component>
      <Component Id="Oracle.ManagedDataAccess.dll" Guid="{1BE3E59F-3CA1-4725-8FB6-086E0DAD8D03}">
        <File Id="Oracle.ManagedDataAccess.dll" KeyPath="yes" Name="Oracle.ManagedDataAccess.dll" Source="..\packages\linq2db.Oracle.x86.1.8.3\tools\Oracle.ManagedDataAccess.dll" />
      </Component>
      <Component Id="Npgsql.dll" Guid="{B63E7AC0-5F42-49A3-8ABD-4B84B8C9160D}">
        <File Id="Npgsql.dll" KeyPath="yes" Name="Npgsql.dll" Source="..\packages\linq2db.PostgreSQL.1.8.3\tools\Npgsql.dll" />
      </Component>
      <Component Id="Sybase.AdoNet2.AseClient.dll" Guid="{A3853976-5D6F-430E-AB0D-D87648B009D3}">
        <File Id="Sybase.AdoNet2.AseClient.dll" KeyPath="yes" Name="Sybase.AdoNet2.AseClient.dll" Source="..\packages\linq2db.Sybase.1.8.3\tools\Sybase.AdoNet2.AseClient.dll" />
      </Component>
      <Component Id="sybdrvado20.dll" Guid="{66897A7E-5F3D-41CE-9E3F-F2F36CF4C50D}">
        <File Id="sybdrvado20.dll" KeyPath="yes" Name="sybdrvado20.dll" Source="..\packages\linq2db.Sybase.1.8.3\tools\sybdrvado20.dll" />
      </Component>


      <!-- LINQPad query example     -->
      <Component Id="LinqPadConnections.linq" Guid="{B21562FD-F3CE-4D49-945D-93810108F4EE}">
        <File Id="LinqPadConnections.linq" KeyPath="yes" Name="LinqPadConnections.linq" Source="..\hoToolsRoot\LinqPadConnections.linq" />
      </Component>
      
      <!-- HtmlAgilityPack -->
      <Component Id="HtmlAgilityPack.dll" Guid="{3783B4A7-6591-4783-AFD5-FB7F4E70A2D5}">
        <File Id="HtmlAgilityPack.dll" KeyPath="yes" Name="HtmlAgilityPack.dll" Source="..\packages\HtmlAgilityPack.1.5.1\lib\Net45\HtmlAgilityPack.dll" />
      </Component>

      
    </ComponentGroup>
  </Fragment>
</Wix>