<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll (AddinClass.dll,ActiveX.dll, FindAndReplace.dll)
    you have to update the registry information in this file!!!!
         
  
  1. Generate mit Wix Tool heat the registry entry for Addin.dll (in bin\release folder of Addin
     "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat" file hoToolsAddin.dll -ag -template fragment -out IFM_Addin.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - ActiveX.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
    Name="ActiveX.dll" Source="$(var.ActiveX.TargetPath)" />
    Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
  4. A component for every file
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="APPLICATIONFOLDER">
      <Component Id="LicenceRTF" Guid="284C41C4-C802-4636-A1CF-BD85276ADDDA">
        <File Id="LicenseFile" Name="license.rtf" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="SettingsID" Guid="03C40ACF-2BEE-4C6D-B706-C0AA893CDF08">
        <File Id="SettingsID" Name="SettingsID" Source="license.rtf"  KeyPath="yes" />
      </Component>
      <Component Id="RegisterEA" Guid="08CCFB79-BA02-4B57-BE8B-795754A6113F">
        <RegistryKey Root="HKLM" Key="Software\Sparx Systems\EAAddins\hoTools">
          <RegistryValue Type="string" Value="hoTools.AddinClass" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="Help" Guid="7C6716FC-4A34-447B-BA42-1E632099D9F0">
        <File Id="Help" Name="hoTools.chm" Source="..\Addin\hoTools.chm"  KeyPath="yes" />
      </Component>
      <Component Id="Utils" Guid="260441DA-0826-4CF6-A6DA-5777C2BEEDE0">
        <File Id="Utils" KeyPath="yes" Name="Utils.dll" Source="$(var.Util.TargetPath)" /> 
      </Component>
      <Component Id="EaServices" Guid="EDB06D59-762F-4B7D-BCFF-7C59DDFC3519">
        <File Id="EaServices" KeyPath="yes" Name="EaServices.dll"  Source="$(var.EaServices.TargetPath)" />
      </Component>
      <!--
      Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="cmpC2FEA6D91D37AF07194D2FAEB04BBC17" Guid="*">
        <Class Id="{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}" Context="InprocServer32" Description="hoTools.AddinClass" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.AddinClass" Description="hoTools.AddinClass" />
        </Class>
        <Class Id="{818BB700-8405-3897-A62C-A4A78730274A}" Context="InprocServer32" Description="hoTools.About" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.About" Description="hoTools.About" />
        </Class>
        <File Id="fil91FEF81E8595ACAC6526F318A4E8AD9E" KeyPath="yes" Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32\1.2.5.2" Name="Class" Value="hoTools.AddinClass" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32\1.2.5.2" Name="Assembly" Value="AddinClass, Version=1.2.5.2, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32\1.2.5.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32\1.2.5.2" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32" Name="Class" Value="hoTools.AddinClass" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32" Name="Assembly" Value="AddinClass, Version=1.2.5.2, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{18BC31E1-6ED2-3CD5-B3D4-6A4414730694}\InprocServer32" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32\1.2.5.2" Name="Class" Value="hoTools.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32\1.2.5.2" Name="Assembly" Value="AddinClass, Version=1.2.5.2, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32\1.2.5.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32\1.2.5.2" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32" Name="Class" Value="hoTools.About" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32" Name="Assembly" Value="AddinClass, Version=1.2.5.2, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{818BB700-8405-3897-A62C-A4A78730274A}\InprocServer32" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.2" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.2" Name="Assembly" Value="AddinClass, Version=1.2.5.2, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.2" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{89417C11-E278-3CDC-8FC8-6EEE9B68AF28}\1.2.5.2" Name="Class" Value="hoTools.AddinClass+displayMode" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{89417C11-E278-3CDC-8FC8-6EEE9B68AF28}\1.2.5.2" Name="Assembly" Value="AddinClass, Version=1.2.5.2, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{89417C11-E278-3CDC-8FC8-6EEE9B68AF28}\1.2.5.2" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{89417C11-E278-3CDC-8FC8-6EEE9B68AF28}\1.2.5.2" Name="CodeBase" Value="file:///[#fil91FEF81E8595ACAC6526F318A4E8AD9E]" Type="string" Action="write" />
      </Component>
      <!--
      Name="ActiveX.dll" Source="$(var.ActiveX.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="cmp561F622FF9BFE23C36E24106C41C2B60" Guid="*">
        <Class Id="{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}" Context="InprocServer32" Description="hoTools.ActiveX.AddinControlGUI+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.ActiveX.AddinControlGUI+EnterTextBox" Description="hoTools.ActiveX.AddinControlGUI+EnterTextBox" />
        </Class>
        <Class Id="{0F09AC68-0565-3F49-A2E0-2C01B2256110}" Context="InprocServer32" Description="hoTools.Settings.AddinSettings" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Settings.AddinSettings" Description="hoTools.Settings.AddinSettings" />
        </Class>
        <Class Id="{4E317EAA-B98E-3D12-987C-F00B53FBBA68}" Context="InprocServer32" Description="hoTools.EaServices.Dlg.dlgUser" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.EaServices.Dlg.dlgUser" Description="hoTools.EaServices.Dlg.dlgUser" />
        </Class>
        <Class Id="{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}" Context="InprocServer32" Description="hoTools.ActiveX.AddinControlGUI" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.ActiveXGUI" Description="hoTools.ActiveX.AddinControlGUI" />
        </Class>
        <File Id="fil4D76395855488B9776C467C9F435A58D" KeyPath="yes" Name="ActiveX.dll" Source="$(var.ActiveX.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.ActiveX.AddinControlGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32\1.2.5.1" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32" Name="Class" Value="hoTools.ActiveX.AddinControlGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{00F2AFC4-8F0D-36C6-82A3-7B752E3599A7}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32\1.2.5.1" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32" Name="Class" Value="hoTools.Settings.AddinSettings" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{0F09AC68-0565-3F49-A2E0-2C01B2256110}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.EaServices.Dlg.dlgUser" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32\1.2.5.1" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32" Name="Class" Value="hoTools.EaServices.Dlg.dlgUser" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{4E317EAA-B98E-3D12-987C-F00B53FBBA68}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.ActiveX.AddinControlGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\1.2.5.1" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Class" Value="hoTools.ActiveX.AddinControlGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{82A06E9C-7568-4E4B-8D2C-A53B8D9A7272}\InprocServer32" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F868D3CB-6963-3A78-B18B-27106A940228}\1.2.5.1" Name="Class" Value="hoTools.Settings.AddinSettings+CustomerCfg" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F868D3CB-6963-3A78-B18B-27106A940228}\1.2.5.1" Name="Assembly" Value="ActiveX, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F868D3CB-6963-3A78-B18B-27106A940228}\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{F868D3CB-6963-3A78-B18B-27106A940228}\1.2.5.1" Name="CodeBase" Value="file:///[#fil4D76395855488B9776C467C9F435A58D]" Type="string" Action="write" />
      </Component>
      <!--
      Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
      Update if Assembly, Visual Studio Version changed
      -->
      <Component Id="cmp6693CB5CE252A74FC08CF627CAEA7C1E" Guid="*">
        <Class Id="{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.FindAndReplaceGUI" Description="hoTools.Find.FindAndReplaceGUI" />
        </Class>
        <Class Id="{932E91C1-3758-33BA-B432-862E9A94C43A}" Context="InprocServer32" Description="hoTools.Find.RecursivePackageFind" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.RecursivePackageFind" Description="hoTools.Find.RecursivePackageFind" />
        </Class>
        <Class Id="{994A63DB-CACF-3695-A29E-55ACA08C5875}" Context="InprocServer32" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Description="hoTools.Find.FindAndReplaceGUI+EnterTextBox" />
        </Class>
        <Class Id="{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}" Context="InprocServer32" Description="hoTools.Find.RegularExpression" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="hoTools.Find.RegularExpression" Description="hoTools.Find.RegularExpression" />
        </Class>
        <File Id="filC7544EB9035A370953E9570607E467EE" KeyPath="yes" Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
        <ProgId Id="Record" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\1.2.5.1" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{2703ED16-2C93-4B13-83DC-F72FB6EDBA9E}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.Find.RecursivePackageFind" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32\1.2.5.1" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32" Name="Class" Value="hoTools.Find.RecursivePackageFind" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{932E91C1-3758-33BA-B432-862E9A94C43A}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32\1.2.5.1" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32" Name="Class" Value="hoTools.Find.FindAndReplaceGUI+EnterTextBox" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{994A63DB-CACF-3695-A29E-55ACA08C5875}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32\1.2.5.1" Name="Class" Value="hoTools.Find.RegularExpression" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32\1.2.5.1" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32\1.2.5.1" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32" Name="Class" Value="hoTools.Find.RegularExpression" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{B9447EFF-4628-38B1-A34F-9D26CF5C7A2F}\InprocServer32" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.2.5.1" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BECFCA00-BA97-34D3-A732-F472AAA07269}\1.2.5.1" Name="Class" Value="hoTools.Find.FindAndReplaceItem+FieldType" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BECFCA00-BA97-34D3-A732-F472AAA07269}\1.2.5.1" Name="Assembly" Value="FindAndReplace, Version=1.2.5.1, Culture=neutral, PublicKeyToken=37ea3d95ffcb87e1" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BECFCA00-BA97-34D3-A732-F472AAA07269}\1.2.5.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Record\{BECFCA00-BA97-34D3-A732-F472AAA07269}\1.2.5.1" Name="CodeBase" Value="file:///[#filC7544EB9035A370953E9570607E467EE]" Type="string" Action="write" />
      </Component>
      <!-- Configuration  ActiveX.dll.config  -->
      <Component Id="ActiveX.dll.config" Guid="EA06E962-CDB3-4FDC-BB40-59F88BE5E7A2">
        <File Id="ActiveX.dll.config" Name="ActiveX.dll.config" KeyPath="yes" Source="..\Setup\ActiveX.dll.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>