<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <!-- Registry:
  Note: Each time you change the AssemblyVersion of a registered *.dll 
    you have to update the registry information in this file!!!!
    either by run Collect.bat and inserting everything between <Component> and </Component> or 
    by simply replacing the AssemblyVersion with the correct value (multiple times)
         
  
  1. Generate mit Wix Tool heat the registry entry for Addin.dll (in bin\release folder of Addin
     "c:\Program Files (x86)\WiX Toolset v3.7\bin\heat" file hoToolsAddin.dll -ag -template fragment -out hoTools_Addin.wxs
  
  2.   Copy the Component content of *.wxs into the Addin Component of this file
  
  3. Update file parameter with Name and source
     - For files which need to register as COM / ActiveX
     - copy the content of the component in the component entry of this file
     - If AssemblyVersion (Major, Minor) is changed you need to update the registration information
     - hoToolsGui.dll, AddinClass.dll, FindAndReplace.dll
    // Update the following entries to use WIX variables to find the files in their right location
    Name="AddinClass.dll" Source="$(var.AddinClass.TargetPath)" />
    Name="hoToolsGui.dll" Source="$(var.hoToolsGui.TargetPath)" />
    Name="FindAndReplace.dll" Source="$(var.FindAndReplace.TargetPath)" />
  4. A component for every file
  
  -->
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="LicenceRTF" Guid="284C41C4-C802-4636-A1CF-BD85276ADDDA">
        <File Id="LicenseFile" Name="license.rtf" Source="license.rtf" KeyPath="yes" />
      </Component>
      <Component Id="SettingsID" Guid="03C40ACF-2BEE-4C6D-B706-C0AA893CDF08">
        <File Id="SettingsID" Name="SettingsID" Source="license.rtf" KeyPath="yes" />
      </Component>
      <Component Id="Sql.zip" Guid="{B51D32DE-0AE7-46D9-A8EF-90C8F74EE10E}">
        <File Id="Sql.zip" Name="Sql.zip" Source="sql.zip" KeyPath="yes" />
      </Component>
      
      <Component Id="RegisterEA" Guid="08CCFB79-BA02-4B57-BE8B-795754A6113F">
        <RegistryKey Root="HKMU" Key="Software\Sparx Systems\EAAddins64\hoToolsX64">
          <RegistryValue Type="string" Value="hoTools.HoToolsRoot" KeyPath="yes" />
        </RegistryKey>
      </Component>


     <!-- EA Standard Searches Configuration                   -->
      <Component Id="EaStandardSearches.json" Guid="{BDC7CABC-176C-4F01-8E11-926724F50A48}">
        <File Id="EaStandardSearches.json" Name="EaStandardSearches.json" Source="..\AddinFramework\EaStandardSearches.json" KeyPath="yes" />
      </Component>
      <Component Id="Utils" Guid="260441DA-0826-4CF6-A6DA-5777C2BEEDE0">
        <File Id="Utils" KeyPath="yes" Name="Utils.dll" Source="$(var.Util.TargetPath)" /> 
      </Component>
      <Component Id="EaServices" Guid="EDB06D59-762F-4B7D-BCFF-7C59DDFC3519">
        <File Id="EaServices" KeyPath="yes" Name="EaServices.dll" Source="$(var.EaServices.TargetPath)" />
      </Component>
      <Component Id="DuoVia.FuzzyStrings" Guid="525D4F63-8200-41A4-ADC2-C9C4801669E8">
        <File Id="DuoVia.FuzzyStrings" KeyPath="yes" Name="DuoVia.FuzzyStrings.dll" Source="$(var.DuoVia.FuzzyStrings.TargetPath)" />
      </Component>
      <Component Id="hoLinqToSql" Guid="{79DD6C2E-E306-4318-A840-F80A4A833E1D}">
        <File Id="hoLinqToSql" KeyPath="yes" Name="hoLinqToSql.dll" Source="$(var.hoLinqToSql.TargetPath)" />
      </Component>
      
      
            
      
      <!-- Configuration  HoToolsGui.dll.config  -->
      <Component Id="HoToolsGui.dll.config" Guid="0A3B18B4-1459-4748-8B5E-64F82E2310D7">
        <File Id="HoToolsGui.dll.config" Name="HoToolsGui.dll.config" KeyPath="yes" Source="..\Setup\HoToolsGui.dll.config" />
      </Component>
      <!-- User Searches, copy them into the roaming folder of hoTools                                    -->
      <Component Id="UserSearches.json" Guid="FCF9AF3B-36BD-4EFC-8A7E-3129FB0D2E3B">
        <File Id="UserSearches.json" Name="UserSearches.json" KeyPath="yes" Source="..\Setup\UserSearches.json" />
      </Component>
      <!-- Settings.json                                            -->
      <Component Id="Settings.json" Guid="BD28E104-6CD6-4D24-9F3A-44CA5054429E">
        <File Id="Settings.json" Name="Settings.json" KeyPath="yes" Source="..\Setup\Settings.json" />
      </Component>
      <Component Id="hoToolsBasic.xml" Guid="DD837398-1240-45E4-A5BE-D218A42E2E5B">
        <File Id="hoToolsBasic.xml" Name="hoToolsBasic.xml" KeyPath="yes" Source="..\hoToolsRoot\hoToolsBasic.xml" />
      </Component>
      <Component Id="hoToolsCompilation.xml" Guid="21C131ED-2D03-48F1-A6FF-1B1127612DE1">
        <File Id="hoToolsCompilation.xml" Name="hoToolsCompilation.xml" KeyPath="yes" Source="..\hoToolsRoot\hoToolsCompilation.xml" />
      </Component>
      <Component Id="hoModelViewsMDG.xml" Guid="58558A7B-1F88-43CD-93BC-0863A82D88EE">
        <File Id="hoModelViewsMDG.xml" Name="hoModelViewsMDG.xml" KeyPath="yes" Source="..\hoToolsRoot\hoModelViewsMDG.xml" />
      </Component>

     <!-- LINQPad query example     -->
     <Component Id="LinqPadConnections.linq" Guid="{B21562FD-F3CE-4D49-945D-93810108F4EE}">
       <File Id="LinqPadConnections.linq" KeyPath="yes" Name="LinqPadConnections.linq" Source="..\hoToolsRoot\LinqPadConnections.linq" />
     </Component>


      <!-- Nuget Packages
          Nuget Packages are all in the otherwise empty project 'NugetCollectorProject'
          Don't forget to include all nuget packages in this project
          Add to load the dll:
          Source="$(var.NugetCollectorProject.TargetDir)\NugetDll.dll" 
          -->
      <Component Id="Newtonsoft.Json" Guid="48483AD6-80C5-41C6-87DB-CE36684E4ACD">
        <File Id="Newtonsoft.Json" KeyPath="yes" Name="Newtonsoft.Json.dll" Source="$(var.NugetCollectorProject.TargetDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="KBCsv" Guid="30620E70-7C9D-45E4-BEC8-6A3B8D5107EA">
        <File Id="KBCsv" KeyPath="yes" Name="KBCsv.dll" Source="$(var.NugetCollectorProject.TargetDir)\KBCsv.dll" />
      </Component>
      <Component Id="KBCsv.Extensions.Data" Guid="97618C61-D0E0-41B0-8A2D-F82ECC5AF35E">
        <File Id="KBCsv.Extensions.Data" KeyPath="yes" Name="KBCsv.Extensions.Data.dll" Source="$(var.NugetCollectorProject.TargetDir)\KBCsv.Extensions.Data.dll" />
      </Component>
      <!--   Nuget: Get-Project –All | Add-BindingRedirect    -->
      <!-- ClosedXml 0.97 needs: DocumentFormat.OpenXml 2.16 -->
      <Component Id="DocumentFormat.OpenXml" Guid="F6FBBA69-A929-413B-A13B-BBDD7851D1F7">
        <File Id="DocumentFormat.OpenXml" KeyPath="yes" Name="DocumentFormat.OpenXml.dll" Source="$(var.NugetCollectorProject.TargetDir)\DocumentFormat.OpenXml.dll" />
      </Component>

     <!-- ClosedXml 0.97 needs: DocumentFormat.OpenXml 2.16 -->
      <Component Id="ClosedXml" Guid="969900BC-0842-4E36-B550-35AA37682D19">
        <File Id="ClosedXml" KeyPath="yes" Name="ClosedXml.dll" Source="$(var.NugetCollectorProject.TargetDir)\ClosedXML.dll" />
      </Component>
     
     <Component Id="FastMember.dll" Guid="{C5F1B203-7AA4-4ED6-9077-1E0E0FB8C9F1}">
       <File Id="FastMember.dll" KeyPath="yes" Name="FastMember.dll" Source="$(var.NugetCollectorProject.TargetDir)\FastMember.dll" />
     </Component>

     <Component Id="System.IO.Packaging.dll" Guid="{D9867A2E-606E-43CA-BAB1-C8932FF21F22}">
       <File Id="System.IO.Packaging.dll" KeyPath="yes" Name="System.IO.Packaging.dll" Source="$(var.NugetCollectorProject.TargetDir)\System.IO.Packaging.dll" />
     </Component>

     <Component Id="SixLabors.Fonts.dll" Guid="{D82F1106-9AE7-4C67-9E6E-146BFA7083A5}">
       <File Id="SixLabors.Fonts.dll" KeyPath="yes" Name="SixLabors.Fonts.dll" Source="$(var.NugetCollectorProject.TargetDir)\SixLabors.Fonts.dll" />
     </Component>


      <!-- linq2db                   -->
     <!-- Separate install MySqlConnector.dll for MySQL-->
     <Component Id="MySqlConnector.dll" Guid="{E332FE32-6001-4B92-A269-A124ABD54E34}">
	     <File Id="MySqlConnector.dll" KeyPath="yes" Name="MySqlConnector.dll" Source="$(var.NugetCollectorProject.TargetDir)MySqlConnector.dll" />
     </Component>
     <!-- Doesn't load, throws an exception. Cause: unknown-->
     <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="{788EE398-F1EE-4610-AF3F-BE2EC1AB0A00}">
       <File Id="System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.NugetCollectorProject.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
     </Component>


     <!-- Separate install Microsoft.Data.SqlClient.dll for SQLServer-->
     <Component Id="Microsoft.Data.SqlClient.dll" Guid="{F6BCE9FB-B940-4FB3-953E-DE0C270F251F}">
	     <File Id="Microsoft.Data.SqlClient.dll" KeyPath="yes" Name="Microsoft.Data.SqlClient.dll" Source="$(var.NugetCollectorProject.TargetDir)\Microsoft.Data.SqlClient.dll" />
     </Component>


      <!-- Supported databases Access, MySQL, SqlServer, Oracle, Sybase, Postgres (tested: Access, MySQL, SqlServer) -->
      <Component Id="linq2db.dll" Guid="{7F7E0442-6625-451E-841E-E4D304EFBCBA}">
        <File Id="linq2db.dll" KeyPath="yes" Name="linq2db.dll" Source="$(var.NugetCollectorProject.TargetDir)\linq2db.dll" />
      </Component>
      <!-- Separate install MySql.Data.dll-->
      <Component Id="MySql.Data.dll" Guid="{1D9AF997-5EFF-4F2A-9410-72EAA69473CC}">
        <File Id="MySql.Data.dll" KeyPath="yes" Name="MySql.Data.dll" Source="$(var.NugetCollectorProject.TargetDir)\MySql.Data.dll" />
      </Component>
      <Component Id="Microsoft.SqlServer.Types.dll" Guid="{EABD70B2-374E-4959-AB91-38863D06ABFA}">
        <File Id="Microsoft.SqlServer.Types.dll" KeyPath="yes" Name="Microsoft.SqlServer.Types.dll" Source="$(var.NugetCollectorProject.TargetDir)\Microsoft.SqlServer.Types.dll" />
      </Component>
      <Component Id="Oracle.ManagedDataAccess.dll" Guid="{1BE3E59F-3CA1-4725-8FB6-086E0DAD8D03}">
        <File Id="Oracle.ManagedDataAccess.dll" KeyPath="yes" Name="Oracle.ManagedDataAccess.dll" Source="$(var.NugetCollectorProject.TargetDir)\Oracle.ManagedDataAccess.dll" />
      </Component>
      <Component Id="Npgsql.dll" Guid="{B63E7AC0-5F42-49A3-8ABD-4B84B8C9160D}">
        <File Id="Npgsql.dll" KeyPath="yes" Name="Npgsql.dll" Source="$(var.NugetCollectorProject.TargetDir)\Npgsql.dll" />
      </Component>
      <Component Id="AdoNetCore.AseClient.dll" Guid="{A3853976-5D6F-430E-AB0D-D87648B009D3}">
        <File Id="AdoNetCore.AseClient.dll" KeyPath="yes" Name="AdoNetCore.AseClient.dll" Source="$(var.NugetCollectorProject.TargetDir)\AdoNetCore.AseClient.dll" />
      </Component>
     <Component Id="Sybase.AdoNet.AseClient.dll" Guid="{AF240101-8497-42E2-A2EE-7502385B7744}">
       <File Id="Sybase.AdoNet.AseClient.dll" KeyPath="yes" Name="Sybase.AdoNet.AseClient.dll" Source="$(var.NugetCollectorProject.TargetDir)\Sybase.AdoNet.AseClient.dll" />
     </Component>
      <!--
      <Component Id="sybdrvado20.dll" Guid="{66897A7E-5F3D-41CE-9E3F-F2F36CF4C50D}">
        <File Id="sybdrvado20.dll" KeyPath="yes" Name="sybdrvado20.dll" Source="..\packages\linq2db.Sybase.1.9.0\tools\sybdrvado20.dll" />
      </Component>
      -->


      <Component Id="SQLite.Interop.dll" Guid="{3DFC900E-8BD6-4B50-ACFC-7DF08040ECC2}">
        <File Id="SQLite.Interop.dll" KeyPath="yes" Name="SQLite.Interop.dll" Source="$(var.NugetCollectorProject.TargetDir)\x64\SQLite.Interop.dll" />
      </Component>
      <Component Id="System.Data.SQLite.dll" Guid="{B161BBE0-0A9C-4570-AE7A-91E10F380ACD}">
        <File Id="System.Data.SQLite.dll" KeyPath="yes" Name="System.Data.SQLite.dll" Source="$(var.NugetCollectorProject.TargetDir)\System.Data.SQLite.dll" />
      </Component>

     <Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="{02AC05C3-9F5F-4E64-8C9E-4DCD6E96AEE9}">
       <File Id="Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.NugetCollectorProject.TargetDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
     </Component>
     <Component Id="System.Threading.Tasks.Extensions.dll" Guid="{CCD414C7-C80A-4075-B048-77CEBB520D6C}">
       <File Id="System.Threading.Tasks.Extensions.dll" KeyPath="yes" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.NugetCollectorProject.TargetDir)\System.Threading.Tasks.Extensions.dll" />
     </Component>
      <!-- HtmlAgilityPack -->
      <Component Id="HtmlAgilityPack.dll" Guid="{3783B4A7-6591-4783-AFD5-FB7F4E70A2D5}">
        <File Id="HtmlAgilityPack.dll" KeyPath="yes" Name="HtmlAgilityPack.dll" Source="$(var.NugetCollectorProject.TargetDir)\HtmlAgilityPack.dll" />
      </Component>


     <!-- Meta files for DEBUG
	 	 -->
     <!-- Not Working
     <Component Id="HoToolsWIXPBD" Guid="{E42B966E-D098-4DAE-A1DE-879557C453C6}">
	     <File Id="HoToolsWIXPBD" KeyPath="yes" Name="HoTools.wixpdb" Source="..\HoToolsSetup\bin\Release\en-us\HoTools.wixpdb" />
     </Component>
    -->
     <Component Id="hoToolsGUI_PDB" Guid="{CE7F7A6F-AF8B-4599-9DCB-7D73E877900F}">
	     <File Id="hoToolsGUI_PDB" KeyPath="yes" Name="hoToolsGUI.pdb" Source="$(var.hoToolsGui.TargetDir)$(var.hoToolsGui.TargetName).pdb" />
     </Component>
     <Component Id="hoToolsRoot_PDB" Guid="{02D53555-72D7-4D92-BEE1-900F8BDC3558}">
	     <File Id="hoToolsRoot_PDB" KeyPath="yes" Name="hoToolsRoot.pdb" Source="$(var.hoToolsRoot.TargetDir)$(var.hoToolsRoot.TargetName).pdb" />
     </Component>
     <Component Id="EaServices_PDB" Guid="{3386E71B-3CD3-4D8D-BD2E-7C1B0B675CD7}">
	     <File Id="EaServices_PDB" KeyPath="yes" Name="EaServices.pdb" Source="$(var.EaServices.TargetDir)$(var.EaServices.TargetName).pdb" />
     </Component>

     <Component Id="hoLinqToSql_PDB" Guid="{BA40E3DC-37F3-469D-A494-5B03FEBD57DB}">
	     <File Id="hoLinqToSql_PDB" KeyPath="yes" Name="hoLinqToSql.pdb" Source="$(var.hoLinqToSql.TargetDir)$(var.hoLinqToSql.TargetName).pdb" />
     </Component>

     <Component Id="hoExtensionGui_PDB" Guid="{D6F20681-D1D3-4FE1-AD13-BA82ABFF22AE}">
	     <File Id="hoExtensionGui_PDB" KeyPath="yes" Name="hoExtensionGui.pdb" Source="$(var.hoExtensionGui.TargetDir)$(var.hoExtensionGui.TargetName).pdb" />
     </Component>
     <Component Id="HoSqlGUI_PDB" Guid="{34BAE529-186B-434B-81EC-07394046197A}">
	     <File Id="HoSqlGUI_PDB" KeyPath="yes" Name="HoSqlGUI.pdb" Source="$(var.hoSqlGui.TargetDir)$(var.hoSqlGui.TargetName).pdb" />
     </Component>
     <Component Id="HoFindAndReplaceGui_PDB" Guid="{56A3B471-210D-4DAA-B87D-483E880319A6}">
	     <File Id="HoFindAndReplaceGui_PDB" KeyPath="yes" Name="HoFindAndReplaceGui.pdb" Source="$(var.hoFindAndReplaceGui.TargetDir)$(var.hoFindAndReplaceGui.TargetName).pdb" />
     </Component>
     
     <Component Id="DuoVia.FuzzyStrings_PDB" Guid="{68A13212-0147-4F1E-BE20-DA7525923ED3}">
	     <File Id="DuoVia.FuzzyStrings_PDB" KeyPath="yes" Name="DuoVia.FuzzyStrings.pdb" Source="$(var.DuoVia.FuzzyStrings.TargetDir)$(var.DuoVia.FuzzyStrings.TargetName).pdb" />
     </Component>


	</ComponentGroup>
  </Fragment>
</Wix>