<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Default Configuration of dll 'AddinControl.dll'
       - Location source: ..\Setup\ or ..\SetupVAR1\
- ..\Setup\ActiveX.dll.config 
        - ..\SetupVAR1\ActiveX.dll.config
        - ..\AddinClass\ActiveX.dll.config
          In Debug mode this file is copied by VS to ..\AddinClass\bin\Debug\ActiveX.dll.config 
          Property: Copy Always!!
       -
       - The config file is loaded with the name of the DLL which uses it ('ActiveX')
       - The default config file (this file, ActiveX.dll.config) has to be:
         - Debug:   Startproject together with DLLs (AddinClass\ActiveX.dll.config)
         - Release: Together with DLLs
       - The current config file islocated:
         %APPDATA%ho\ho\hoTools\user.config
       Make sure that the original file (ActiveX.dll.config)
       is copied to output directory (properties of file)
       -->
  <connectionStrings>

		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
      Customer=hoTools: "14F09211-3460-47A6-B837-A477491F0A67"
               ZF_LS:    "F52AB09A-8ED0-4159-9AB4-FFD986983280"
		-->
    <add key="Customer" value="14F09211-3460-47A6-B837-A477491F0A67"/>     <!-- Different customer supported-->
    <add key="isSvnSupport" value="false"/>  <!-- use svn related commands-->
    <add key="isVcSupport" value="false"/>
    <add key="isAdvancedFeatures" value="false"/>    <!-- advanced features-->
    <add key="isAdvancedPort" value="false"/>        <!-- is advanced ports-->
    <add key="isAdvancedDiagramNote" value="false"/>    <!-- is advanced Diagram Note-->
    <add key="isScriptAndQuery" value="false"/>        <!-- is additional Addin page Script and Query-->
    <add key="isSearchAndReplace" value="true"/>        <!-- is additional Addin page Search and Replace-->
    <add key="FileManagerPath" value="Explorer.Exe"/> <!-- think of setting patch variable -->
    
    
    <add key="ActivityLineStyle" value="LV"/>
    <add key="StatechartLineStyle" value="B"/>
    <add key="ClassLineStyle" value="no"/>
    <add key="ComponentLineStyle" value="no"/>
    <add key="PackageLineStyle" value="no"/>
    <add key="DeploymentLineStyle" value="no"/>
    <add key="CompositeStructureLineStyle" value="no"/>
    <add key="UseCaseLineStyle" value="no"/>
    <add key="CustomLineStyle" value="no"/>
    
		<add key="QuickSearchName" value="Quick Search"/>
    <add key="ProductName" value="hoTools"/>
    <add key="WithTabWindow" value="false"/>

    <add key="key1Text" value="Mod"/>
    <add key="key1Type" value="Search"/>
    <add key="key1Par1" value="Modules"/>
    <add key="key1Par2" value=""/>
    <add key="key1Tooltip" value="Start Search Modules with whilecard at end"/>

    <add key="key2Text" value="Doc"/>
    <add key="key2Type" value="Search"/>
    <add key="key2Par1" value="Documentation"/>
    <add key="key2Par2" value=""/>
    <add key="key2Tooltip" value="Start Search Documentation with whilecard at end"/>

    <add key="key3Text" value="3"/>
    <add key="key3Type" value="Search"/>
    <add key="key3Par1" value=""/>
    <add key="key3Par2" value=""/>
    <add key="key3Tooltip" value=""/>

    <add key="key4Text" value="4"/>
    <add key="key4Type" value="Search"/>
    <add key="key4Par1" value=""/>
    <add key="key4Par2" value=""/>
    <add key="key4Tooltip" value="Start Search ????"/>

    <add key="key5Text" value="5"/>
    <add key="key5Type" value="Search"/>
    <add key="key5Par1" value=""/>
    <add key="key5Par2" value=""/>
    <add key="key5Tooltip" value="Start Search ????"/>

    <add key="globalKeySearch1Key" value="F1"/>
    <add key="globalKeySearch1Modifier1" value="Ctrl"/>
    <add key="globalKeySearch1Modifier2" value="No"/>
    <add key="globalKeySearch1Modifier3" value="No"/>
    <add key="globalKeySearch1Modifier4" value="No"/>
    <add key="globalKeySearch1SearchName" value=""/>
    <add key="globalKeySearch1SearchTerm" value=""/>
    <add key="globalKeySearch1Tooltip" value=""/>

    <add key="globalKeySearch2Key" value="F2"/>
    <add key="globalKeySearch2Modifier1" value="Ctrl"/>
    <add key="globalKeySearch2Modifier2" value="No"/>
    <add key="globalKeySearch2Modifier3" value="No"/>
    <add key="globalKeySearch2Modifier4" value="No"/>
    <add key="globalKeySearch2SearchName" value=""/>
    <add key="globalKeySearch2SearchTerm" value=""/>
    <add key="globalKeySearch2Tooltip" value=""/>

    <add key="globalKeySearch3Key" value="F3"/>
    <add key="globalKeySearch3Modifier1" value="Ctrl"/>
    <add key="globalKeySearch3Modifier2" value="No"/>
    <add key="globalKeySearch3Modifier3" value="No"/>
    <add key="globalKeySearch3Modifier4" value="No"/>
    <add key="globalKeySearch3SearchName" value=""/>
    <add key="globalKeySearch3SearchTerm" value=""/>
    <add key="globalKeySearch3Tooltip" value=""/>

    <add key="globalKeySearch4Key" value="F4"/>
    <add key="globalKeySearch4Modifier1" value="Ctrl"/>
    <add key="globalKeySearch4Modifier2" value="No"/>
    <add key="globalKeySearch4Modifier3" value="No"/>
    <add key="globalKeySearch4Modifier4" value="No"/>
    <add key="globalKeySearch4SearchName" value=""/>
    <add key="globalKeySearch4SearchTerm" value=""/>
    <add key="globalKeySearch4Tooltip" value=""/>

    <add key="globalKeySearch5Key" value="F5"/>
    <add key="globalKeySearch5Modifier1" value="Shift"/>
    <add key="globalKeySearch5Modifier2" value="Ctrl"/>
    <add key="globalKeySearch5Modifier3" value="No"/>
    <add key="globalKeySearch5Modifier4" value="No"/>
    <add key="globalKeySearch5SearchName" value=""/>
    <add key="globalKeySearch5SearchTerm" value=""/>
    <add key="globalKeySearch5Tooltip" value=""/>


    <add key="globalKeyService1Key" value="F1"/>
    <add key="globalKeyService1Modifier1" value="Shift"/>
    <add key="globalKeyService1Modifier2" value="Ctrl"/>
    <add key="globalKeyService1Modifier3" value="No"/>
    <add key="globalKeyService1Modifier4" value="No"/>
    <add key="globalKeyService1GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>

    <add key="globalKeyService2Key" value="F2"/>
    <add key="globalKeyService2Modifier1" value="Shift"/>
    <add key="globalKeyService2Modifier2" value="Ctrl"/>
    <add key="globalKeyService2Modifier3" value="No"/>
    <add key="globalKeyService2Modifier4" value="No"/>
    <add key="globalKeyService2GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>


    <add key="globalKeyService3Key" value="F3"/>
    <add key="globalKeyService3Modifier1" value="Shift"/>
    <add key="globalKeyService3Modifier2" value="Ctrl"/>
    <add key="globalKeyService3Modifier3" value="No"/>
    <add key="globalKeyService3Modifier4" value="No"/>
    <add key="globalKeyService3GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>

    <add key="globalKeyService4Key" value="F4"/>
    <add key="globalKeyService4Modifier1" value="Shift"/>
    <add key="globalKeyService4Modifier2" value="Ctrl"/>
    <add key="globalKeyService4Modifier3" value="No"/>
    <add key="globalKeyService4Modifier4" value="No"/>
    <add key="globalKeyService4GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>


    <add key="globalKeyService5Key" value="F5"/>
    <add key="globalKeyService5Modifier1" value="Shift"/>
    <add key="globalKeyService5Modifier2" value="Ctrl"/>
    <add key="globalKeyService5Modifier3" value="No"/>
    <add key="globalKeyService5Modifier4" value="No"/>
    <add key="globalKeyService5GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>



    <add key="service1GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>
    <add key="service1Text" value="1"/>
    <add key="service2GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>
    <add key="service2Text" value="2"/>
    <add key="service3GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>
    <add key="service3Text" value="3"/>
    <add key="service4GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>
    <add key="service4Text" value="4"/>
    <add key="service5GUID" value="{B93C105E-64BC-4D9C-B92F-3DDF0C9150E6}"/>
    <add key="service5Text" value="5"/>
 	</appSettings>
</configuration>
